In [1]:
import pandas as pd 
df = pd.read_csv('data/data.csv')
df = df [df.PD_DESC == 'SEXUAL ABUSE 3,2']
df['RPT_DT'] = pd.to_datetime(df['RPT_DT'], errors='coerce')
df_sorted = df.sort_values(by='RPT_DT')
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
9,279802438,120,STATEN ISLAND,01/01/2024,08:57:00,01/01/2024,09:05:00,COMPLETED,(null),NaN,...,NaN,<18,WHITE,F,962873.0,174172.0,40.644721,-74.077033,"(40.6447209438691, -74.0770327198983)",POINT (-74.0770327198983 40.6447209438691)
48,283189135,72,BROOKLYN,01/01/2024,00:01:00,03/03/2024,23:59:00,COMPLETED,(null),NaN,...,NaN,<18,WHITE HISPANIC,F,984128.0,179058.0,40.658158,-74.000441,"(40.6581577535544, -74.0004411548878)",POINT (-74.0004411548878 40.6581577535544)
62,279833467,5,MANHATTAN,01/01/2024,01:30:00,01/01/2024,01:35:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,984990.0,200136.0,40.716012,-73.997332,"(40.7160120119955, -73.9973320301008)",POINT (-73.9973320301008 40.7160120119955)
116,279767608,14,MANHATTAN,01/01/2024,03:25:00,01/01/2024,03:30:00,COMPLETED,(null),NaN,...,2.0,25-44,UNKNOWN,F,985764.0,213806.0,40.753533,-73.994537,"(40.7535327012632, -73.9945368920152)",POINT (-73.9945368920152 40.7535327012632)
119,287559757,5,MANHATTAN,01/01/2024,00:00:00,01/13/2024,02:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,BLACK HISPANIC,F,984990.0,200136.0,40.716012,-73.997332,"(40.7160120119955, -73.9973320301008)",POINT (-73.9973320301008 40.7160120119955)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133782,284589552,50,BRONX,03/31/2024,19:00:00,03/31/2024,20:00:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,F,1010914.0,260940.0,40.882862,-73.903574,"(40.8828621313214, -73.9035744897024)",POINT (-73.9035744897024 40.8828621313214)
133848,284579890,41,BRONX,03/31/2024,00:00:00,03/31/2024,10:10:00,COMPLETED,(null),NaN,...,NaN,18-24,BLACK HISPANIC,F,1013037.0,236657.0,40.816206,-73.896001,"(40.8162058439227, -73.8960011932583)",POINT (-73.8960011932583 40.8162058439227)
133948,285811052,43,BRONX,03/31/2024,00:00:00,04/15/2024,23:59:00,COMPLETED,(null),NaN,...,NaN,<18,UNKNOWN,F,1020219.0,239110.0,40.822912,-73.870041,"(40.8229123084767, -73.8700413043181)",POINT (-73.8700413043181 40.8229123084767)
134065,284995772,45,BRONX,03/31/2024,05:00:00,03/31/2024,06:00:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,F,1032091.0,241976.0,40.830722,-73.827126,"(40.8307223277672, -73.8271260588639)",POINT (-73.8271260588639 40.8307223277672)
134128,284565980,111,QUEENS,03/31/2024,02:00:00,03/31/2024,03:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,1048659.0,216392.0,40.760396,-73.767503,"(40.7603961392658, -73.7675025349456)",POINT (-73.7675025349456 40.7603961392658)