In [24]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")



get_recent_season = "SELECT * FROM game ORDER BY game_date DESC"

df = pd.read_sql_query(get_recent_season, con)
most_recent_season = '22022'
wizards_id = "1610612764"

'42022'

In [29]:
home_pts_avg_query = f"SELECT AVG(pts_home) FROM game WHERE team_id_home='{wizards_id}' AND season_id='{most_recent_season}'"
pd.read_sql_query(home_pts_avg_query, con)

   AVG(pts_home)
0     114.243902

In [30]:
pd.read_sql_query(f"SELECT AVG(pts_away) FROM game WHERE team_id_away='{wizards_id}' AND season_id='{most_recent_season}'", con)

   AVG(pts_away)
0     112.073171