In [3]:
import pandas as pd
crimes = pd.read_csv("data/crimes.csv")
arrests = pd.read_csv("data/arrests.csv")

crimes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125000 entries, 0 to 124999
Data columns (total 37 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                125000 non-null  int64
 1   CMPLNT_NUM                125000 non-null  object
 2   ADDR_PCT_CD               125000 non-null  int64
 3   BORO_NM                   125000 non-null  object
 4   CMPLNT_FR_DT              125000 non-null  object
 5   CMPLNT_FR_TM              125000 non-null  object
 6   CMPLNT_TO_DT              118306 non-null  object
 7   CMPLNT_TO_TM              125000 non-null  object
 8   CRM_ATPT_CPTD_CD          125000 non-null  object
 9   HADEVELOPT                125000 non-null  object
 10  HOUSING_PSA               7762 non-null    float64
 11  JURISDICTION_CODE         125000 non-null  int64
 12  JURIS_DESC                125000 non-null  object
 13  KY_CD                     125000 non-null  int64
 14  LAW_CAT_CD                125000 non-null  object
 15  LOC_OF_OCCUR_DESC         125000 non-null  object
 16  OFNS_DESC                 125000 non-null  object
 17  PARKS_NM                  125000 non-null  object
 18  PATROL_BORO               125000 non-null  object
 19  PD_CD                     124925 non-null  float64
 20  PD_DESC                   125000 non-null  object
 21  PREM_TYP_DESC             125000 non-null  object
 22  RPT_DT                    125000 non-null  object
 23  STATION_NAME              125000 non-null  object
 24  SUSP_AGE_GROUP            125000 non-null  object
 25  SUSP_RACE                 125000 non-null  object
 26  SUSP_SEX                  125000 non-null  object
 27  TRANSIT_DISTRICT          5654 non-null    float64
 28  VIC_AGE_GROUP             125000 non-null  object
 29  VIC_RACE                  125000 non-null  object
 30  VIC_SEX                   125000 non-null  object
 31  X_COORD_CD                124996 non-null  float64
 32  Y_COORD_CD                124996 non-null  float64
 33  Latitude                  124996 non-null  float64
 34  Longitude                 124996 non-null  float64
 35  Lat_Lon                   124996 non-null  object
 36  New Georeferenced Column  124996 non-null  object
dtypes: float64(7), int64(4), object(26)
memory usage: 35.3+ MB

In [4]:
arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128778 entries, 0 to 128777
Data columns (total 19 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   ARREST_KEY                128778 non-null  int64
 1   ARREST_DATE               128778 non-null  object
 2   PD_CD                     128774 non-null  float64
 3   PD_DESC                   128778 non-null  object
 4   KY_CD                     128763 non-null  float64
 5   OFNS_DESC                 128778 non-null  object
 6   LAW_CODE                  128778 non-null  object
 7   LAW_CAT_CD                128008 non-null  object
 8   ARREST_BORO               128778 non-null  object
 9   ARREST_PRECINCT           128778 non-null  int64
 10  JURISDICTION_CODE         128778 non-null  int64
 11  AGE_GROUP                 128778 non-null  object
 12  PERP_SEX                  128778 non-null  object
 13  PERP_RACE                 128778 non-null  object
 14  X_COORD_CD                128778 non-null  int64
 15  Y_COORD_CD                128778 non-null  int64
 16  Latitude                  128778 non-null  float64
 17  Longitude                 128778 non-null  float64
 18  New Georeferenced Column  128778 non-null  object
dtypes: float64(4), int64(5), object(10)
memory usage: 18.7+ MB

In [24]:
crimes_and_arrests = arrests.merge(crimes, how = 'left', left_on = ['Longitude', 'Latitude'], right_on = ['Longitude', 'Latitude'], suffixes = ('', '_c'))
crimes_and_arrests.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3017312 entries, 0 to 3017311
Data columns (total 54 columns):
 #   Column                      Dtype
---  ------                      -----
 0   ARREST_KEY                  int64
 1   ARREST_DATE                 datetime64[ns]
 2   PD_CD                       float64
 3   PD_DESC                     object
 4   KY_CD                       float64
 5   OFNS_DESC                   object
 6   LAW_CODE                    object
 7   LAW_CAT_CD                  object
 8   ARREST_BORO                 object
 9   ARREST_PRECINCT             int64
 10  JURISDICTION_CODE           int64
 11  AGE_GROUP                   object
 12  PERP_SEX                    object
 13  PERP_RACE                   object
 14  X_COORD_CD                  int64
 15  Y_COORD_CD                  int64
 16  Latitude                    float64
 17  Longitude                   float64
 18  New Georeferenced Column    object
 19  Unnamed: 0                  float64
 20  CMPLNT_NUM                  object
 21  ADDR_PCT_CD                 float64
 22  BORO_NM                     object
 23  CMPLNT_FR_DT                datetime64[ns]
 24  CMPLNT_FR_TM                object
 25  CMPLNT_TO_DT                object
 26  CMPLNT_TO_TM                object
 27  CRM_ATPT_CPTD_CD            object
 28  HADEVELOPT                  object
 29  HOUSING_PSA                 float64
 30  JURISDICTION_CODE_c         float64
 31  JURIS_DESC                  object
 32  KY_CD_c                     float64
 33  LAW_CAT_CD_c                object
 34  LOC_OF_OCCUR_DESC           object
 35  OFNS_DESC_c                 object
 36  PARKS_NM                    object
 37  PATROL_BORO                 object
 38  PD_CD_c                     float64
 39  PD_DESC_c                   object
 40  PREM_TYP_DESC               object
 41  RPT_DT                      object
 42  STATION_NAME                object
 43  SUSP_AGE_GROUP              object
 44  SUSP_RACE                   object
 45  SUSP_SEX                    object
 46  TRANSIT_DISTRICT            float64
 47  VIC_AGE_GROUP               object
 48  VIC_RACE                    object
 49  VIC_SEX                     object
 50  X_COORD_CD_c                float64
 51  Y_COORD_CD_c                float64
 52  Lat_Lon                     object
 53  New Georeferenced Column_c  object
dtypes: datetime64[ns](2), float64(13), int64(5), object(34)
memory usage: 1.2+ GB

In [25]:
enhanced_crimes_and_arrests = crimes_and_arrests[[ 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX']]

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
enhanced_crimes_and_arrests.head()

  SUSP_AGE_GROUP SUSP_RACE SUSP_SEX VIC_AGE_GROUP VIC_RACE VIC_SEX
0          25-44     BLACK        M         25-44    BLACK       F
1        UNKNOWN   UNKNOWN        F           65+    WHITE       F
2          25-44     BLACK        U       UNKNOWN  UNKNOWN       E
3          25-44     BLACK        M           <18    BLACK       F
4          45-64     BLACK        M           65+    BLACK       F