In [14]:
import pandas as pd
#I could only merge a portion of the dataset due to the dataset being too large
df1 = pd.read_csv("data/arrests.csv", usecols = ["KY_CD","ARREST_DATE","PD_DESC"] , nrows=200)
df2 = pd.read_csv("data/crimes.csv", usecols = ["KY_CD","OFNS_DESC","SUSP_RACE", "SUSP_SEX"] , nrows=200)
merged_df = pd.merge(df1, df2, on='KY_CD', how='inner')
merged_df

,ARREST_DATE,PD_DESC,KY_CD,OFNS_DESC,SUSP_RACE,SUSP_SEX
0,01/03/2024,RAPE 3,104.0,RAPE,ASIAN / PACIFIC ISLANDER,M
1,01/03/2024,STRANGULATION 1ST,106.0,FELONY ASSAULT,BLACK HISPANIC,M
2,01/03/2024,STRANGULATION 1ST,106.0,FELONY ASSAULT,BLACK,M
3,01/03/2024,STRANGULATION 1ST,106.0,FELONY ASSAULT,ASIAN / PACIFIC ISLANDER,M
4,01/03/2024,STRANGULATION 1ST,106.0,FELONY ASSAULT,BLACK,M
...,...,...,...,...,...,...
2116,01/06/2024,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,UNKNOWN,U
2117,01/06/2024,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,BLACK,M
2118,01/06/2024,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,BLACK,M
2119,01/06/2024,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,UNKNOWN,U
2120,01/06/2024,"BURGLARY,UNCLASSIFIED,UNKNOWN",107.0,BURGLARY,WHITE HISPANIC,M