# Issue 4: Business & Analytical Questions

#### Business Objective: What was the impact of the COVID-19 pandemic on the level of home court advantage?
- Question 1: How has the difference in win-loss ratio between home and away teams changed from the 2019-20 season to the 2022-23 season? (wl_home and wl_away columns in game table)
- Question 2: How has the difference in average points scored between home and away teams changed from the 2019-20 season to the 2022-23 season? (pts_home and pts_away columns in game table)
- Question 3: How has the difference in offensive and defensive rebounds between home and away teams changed from 2019-20 to 2022-23?(oreb_home, oreb_away, dreb_home, dreb_away in the game table)
- Question 4: How does the average number of three-point field goals made by home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (fg3_pct_home and fg3_pct_away columns in game table)
- Question 5: How does the free throw percentage of home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (ft_pct_home and ft_pct_away in the game table)

# Issue 5: Descriptive Statistics

In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")

seasons = ['2019', '2020', '2021', '2022']

#### Question 1

In [2]:
result = []
for year in seasons:
    ft_query = f"""
    SELECT 
        AVG(ft_pct_home) AS avg_ft_pct_home,
        AVG(ft_pct_away) AS avg_ft_pct_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    ft_data = pd.read_sql_query(ft_query, con)
    
    if not ft_data.empty:
        avg_ft_pct_home = ft_data['avg_ft_pct_home'][0]
        avg_ft_pct_away = ft_data['avg_ft_pct_away'][0]
        
        result.append({
            'season_year': year,
            'avg_ft_pct_home': avg_ft_pct_home,
            'avg_ft_pct_away': avg_ft_pct_away
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_ft_pct_home  avg_ft_pct_away
0        2019         0.771852         0.772411
1        2020         0.779016         0.775290
2        2021         0.775135         0.775920
3        2022         0.782598         0.780615

In [3]:
covid_wl_home = pd.read_sql_query("SELECT team_name_home, wl_home, season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) ORDER BY season_id DESC", con)
covid_wl_home = covid_wl_home.replace('W', 1)
covid_wl_home = covid_wl_home.replace('L', 0)
covid_wl_home

C:\Users\antar\AppData\Local\Temp\ipykernel_32204\202577301.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covid_wl_home = covid_wl_home.replace('L', 0)

             team_name_home  wl_home season_id
0            Boston Celtics        1     22022
1     Golden State Warriors        1     22022
2           Detroit Pistons        1     22022
3                 Utah Jazz        1     22022
4             Brooklyn Nets        0     22022
...                     ...      ...       ...
4594          Brooklyn Nets        0     22019
4595            LA Clippers        1     22019
4596         Indiana Pacers        1     22019
4597        Houston Rockets        0     22019
4598        Toronto Raptors        1     22019

[4599 rows x 3 columns]

In [4]:
covid_wl_home_group = covid_wl_home.groupby(['team_name_home', 'season_id']).agg({'wl_home': ['mean']})
covid_wl_home_group

                               wl_home
                                  mean
team_name_home     season_id
Atlanta Hawks      22019      0.411765
                   22020      0.694444
                   22021      0.658537
                   22022      0.585366
Boston Celtics     22019      0.722222
...                                ...
Utah Jazz          22022      0.560976
Washington Wizards 22019      0.444444
                   22020      0.527778
                   22021      0.512195
                   22022      0.463415

[120 rows x 1 columns]

In [5]:
covid_wl_away = pd.read_sql_query("SELECT team_name_away, wl_away, season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) ORDER BY season_id DESC", con)
covid_wl_away = covid_wl_away.replace('W', 1)
covid_wl_away = covid_wl_away.replace('L', 0)
covid_wl_away

C:\Users\antar\AppData\Local\Temp\ipykernel_32204\1956469801.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covid_wl_away = covid_wl_away.replace('L', 0)

              team_name_away  wl_away season_id
0         Philadelphia 76ers        0     22022
1         Los Angeles Lakers        0     22022
2              Orlando Magic        0     22022
3             Denver Nuggets        0     22022
4       New Orleans Pelicans        1     22022
...                      ...      ...       ...
4594  Portland Trail Blazers        1     22019
4595   Oklahoma City Thunder        0     22019
4596              Miami Heat        0     22019
4597      Philadelphia 76ers        1     22019
4598          Denver Nuggets        0     22019

[4599 rows x 3 columns]

In [6]:
covid_wl_away_group = covid_wl_away.groupby(['team_name_away', 'season_id']).agg({'wl_away': ['mean']})
covid_wl_away_group

                               wl_away
                                  mean
team_name_away     season_id
Atlanta Hawks      22019      0.181818
                   22020      0.444444
                   22021      0.390244
                   22022      0.414634
Boston Celtics     22019      0.611111
...                                ...
Utah Jazz          22022      0.341463
Washington Wizards 22019      0.250000
                   22020      0.416667
                   22021      0.341463
                   22022      0.390244

[120 rows x 1 columns]

# Issue 4: Business & Analytical Questions

#### Business Objective: What was the impact of the COVID-19 pandemic on the level of home court advantage?
- Question 1: How has the difference in win-loss ratio between home and away teams changed from the 2019-20 season to the 2022-23 season? (wl_home and wl_away columns in game table)
- Question 2: How has the difference in average points scored between home and away teams changed from the 2019-20 season to the 2022-23 season? (pts_home and pts_away columns in game table)
- Question 3: How has the difference in offensive and defensive rebounds between home and away teams changed from 2019-20 to 2022-23?(oreb_home, oreb_away, dreb_home, dreb_away in the game table)
- Question 4: How does the average number of three-point field goals made by home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (fg3_pct_home and fg3_pct_away columns in game table)
- Question 5: How does the free throw percentage of home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (ft_pct_home and ft_pct_away in the game table)

# Issue 5: Descriptive Statistics

In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")

seasons = ['2019', '2020', '2021', '2022']

#### Question 1

In [2]:
result = []
for year in seasons:
    ft_query = f"""
    SELECT 
        AVG(ft_pct_home) AS avg_ft_pct_home,
        AVG(ft_pct_away) AS avg_ft_pct_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    ft_data = pd.read_sql_query(ft_query, con)
    
    if not ft_data.empty:
        avg_ft_pct_home = ft_data['avg_ft_pct_home'][0]
        avg_ft_pct_away = ft_data['avg_ft_pct_away'][0]
        
        result.append({
            'season_year': year,
            'avg_ft_pct_home': avg_ft_pct_home,
            'avg_ft_pct_away': avg_ft_pct_away
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_ft_pct_home  avg_ft_pct_away
0        2019         0.771852         0.772411
1        2020         0.779016         0.775290
2        2021         0.775135         0.775920
3        2022         0.782598         0.780615

In [3]:
covid_wl_home = pd.read_sql_query("SELECT team_name_home, wl_home, season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) ORDER BY season_id DESC", con)
covid_wl_home = covid_wl_home.replace('W', 1)
covid_wl_home = covid_wl_home.replace('L', 0)
covid_wl_home

C:\Users\antar\AppData\Local\Temp\ipykernel_32204\202577301.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covid_wl_home = covid_wl_home.replace('L', 0)

             team_name_home  wl_home season_id
0            Boston Celtics        1     22022
1     Golden State Warriors        1     22022
2           Detroit Pistons        1     22022
3                 Utah Jazz        1     22022
4             Brooklyn Nets        0     22022
...                     ...      ...       ...
4594          Brooklyn Nets        0     22019
4595            LA Clippers        1     22019
4596         Indiana Pacers        1     22019
4597        Houston Rockets        0     22019
4598        Toronto Raptors        1     22019

[4599 rows x 3 columns]

In [4]:
covid_wl_home_group = covid_wl_home.groupby(['team_name_home', 'season_id']).agg({'wl_home': ['mean']})
covid_wl_home_group

                               wl_home
                                  mean
team_name_home     season_id
Atlanta Hawks      22019      0.411765
                   22020      0.694444
                   22021      0.658537
                   22022      0.585366
Boston Celtics     22019      0.722222
...                                ...
Utah Jazz          22022      0.560976
Washington Wizards 22019      0.444444
                   22020      0.527778
                   22021      0.512195
                   22022      0.463415

[120 rows x 1 columns]

In [5]:
covid_wl_away = pd.read_sql_query("SELECT team_name_away, wl_away, season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) ORDER BY season_id DESC", con)
covid_wl_away = covid_wl_away.replace('W', 1)
covid_wl_away = covid_wl_away.replace('L', 0)
covid_wl_away

C:\Users\antar\AppData\Local\Temp\ipykernel_32204\1956469801.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  covid_wl_away = covid_wl_away.replace('L', 0)

              team_name_away  wl_away season_id
0         Philadelphia 76ers        0     22022
1         Los Angeles Lakers        0     22022
2              Orlando Magic        0     22022
3             Denver Nuggets        0     22022
4       New Orleans Pelicans        1     22022
...                      ...      ...       ...
4594  Portland Trail Blazers        1     22019
4595   Oklahoma City Thunder        0     22019
4596              Miami Heat        0     22019
4597      Philadelphia 76ers        1     22019
4598          Denver Nuggets        0     22019

[4599 rows x 3 columns]

In [6]:
covid_wl_away_group = covid_wl_away.groupby(['team_name_away', 'season_id']).agg({'wl_away': ['mean']})
covid_wl_away_group

                               wl_away
                                  mean
team_name_away     season_id
Atlanta Hawks      22019      0.181818
                   22020      0.444444
                   22021      0.390244
                   22022      0.414634
Boston Celtics     22019      0.611111
...                                ...
Utah Jazz          22022      0.341463
Washington Wizards 22019      0.250000
                   22020      0.416667
                   22021      0.341463
                   22022      0.390244

[120 rows x 1 columns]

#### Question 2

In [7]:
result = []
for year in seasons:
    points_query = f"""
    SELECT 
        AVG(pts_home) AS avg_pts_home,
        AVG(pts_away) AS avg_pts_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    points_data = pd.read_sql_query(points_query, con)
    
    if not points_data.empty:
        avg_pts_home = points_data['avg_pts_home'][0]
        avg_pts_away = points_data['avg_pts_away'][0]
        
        points_diff = avg_pts_home - avg_pts_away
        
        result.append({
            'season_year': year,
            'avg_pts_home': avg_pts_home,
            'avg_pts_away': avg_pts_away,
            'points_diff': points_diff
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_pts_home  avg_pts_away  points_diff
0        2019    112.696413    110.651794     2.044619
1        2020    112.466283    111.369243     1.097039
2        2021    111.232659    109.271676     1.960983
3        2022    115.539683    112.931457     2.608225

In [8]:
covid_pts_home = pd.read_sql_query("SELECT team_name_home, AVG(pts_home), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_home, season_id", con)
covid_pts_home

         team_name_home  AVG(pts_home) season_id
0         Atlanta Hawks     114.588235     22019
1         Atlanta Hawks     115.416667     22020
2         Atlanta Hawks     116.658537     22021
3         Atlanta Hawks     119.634146     22022
4        Boston Celtics     116.305556     22019
..                  ...            ...       ...
115           Utah Jazz     117.951220     22022
116  Washington Wizards     114.000000     22019
117  Washington Wizards     119.000000     22020
118  Washington Wizards     111.902439     22021
119  Washington Wizards     114.243902     22022

[120 rows x 3 columns]

In [9]:
covid_pts_home_19 = pd.read_sql_query("SELECT team_name_home, pts_home, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_home, season_id", con)
covid_pts_home_19['pts_home'].describe()

count     30.000000
mean     111.066667
std       14.971083
min       84.000000
25%      100.500000
50%      110.500000
75%      120.000000
max      158.000000
Name: pts_home, dtype: float64

In [10]:
covid_pts_home_21 = pd.read_sql_query("SELECT team_name_home, pts_home, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_home, season_id", con)
covid_pts_home_21['pts_home'].describe()

count     30.000000
mean     111.066667
std       12.940003
min       73.000000
25%      104.500000
50%      111.000000
75%      120.750000
max      138.000000
Name: pts_home, dtype: float64

In [11]:
covid_pts_away = pd.read_sql_query("SELECT team_name_away, AVG(pts_away), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_away, season_id", con)
covid_pts_away

         team_name_away  AVG(pts_away) season_id
0         Atlanta Hawks     108.848485     22019
1         Atlanta Hawks     111.972222     22020
2         Atlanta Hawks     111.219512     22021
3         Atlanta Hawks     117.219512     22022
4        Boston Celtics     111.000000     22019
..                  ...            ...       ...
115           Utah Jazz     116.195122     22022
116  Washington Wizards     114.833333     22019
117  Washington Wizards     114.277778     22020
118  Washington Wizards     105.341463     22021
119  Washington Wizards     112.073171     22022

[120 rows x 3 columns]

In [12]:
covid_pts_away_19 = pd.read_sql_query("SELECT team_name_away, pts_away, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_away, season_id", con)
covid_pts_away_19['pts_away'].describe()

count     30.00000
mean     111.00000
std       17.15246
min       85.00000
25%       99.00000
50%      107.50000
75%      122.00000
max      159.00000
Name: pts_away, dtype: float64

In [13]:
covid_pts_away_21 = pd.read_sql_query("SELECT team_name_away, pts_away, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_away, season_id", con)
covid_pts_away_21['pts_away'].describe()

count     30.000000
mean     115.266667
std        8.893753
min       99.000000
25%      107.500000
50%      115.000000
75%      122.500000
max      131.000000
Name: pts_away, dtype: float64

#### Question 3

In [14]:
result = []
for year in seasons:
    rebounds_query = f"""
    SELECT 
        AVG(oreb_home) AS avg_oreb_home,
        AVG(oreb_away) AS avg_oreb_away,
        AVG(dreb_home) AS avg_dreb_home,
        AVG(dreb_away) AS avg_dreb_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    rebounds_data = pd.read_sql_query(rebounds_query, con)
    
    if not rebounds_data.empty:
        avg_oreb_home = rebounds_data['avg_oreb_home'][0]
        avg_oreb_away = rebounds_data['avg_oreb_away'][0]
        avg_dreb_home = rebounds_data['avg_dreb_home'][0]
        avg_dreb_away = rebounds_data['avg_dreb_away'][0]
        
        oreb_diff = avg_oreb_home - avg_oreb_away
        dreb_diff = avg_dreb_home - avg_dreb_away
        
        result.append({
            'season_year': year,
            'avg_oreb_home': avg_oreb_home,
            'avg_oreb_away': avg_oreb_away,
            'oreb_diff': oreb_diff,
            'avg_dreb_home': avg_dreb_home,
            'avg_dreb_away': avg_dreb_away,
            'dreb_diff': dreb_diff
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_oreb_home  avg_oreb_away  oreb_diff  avg_dreb_home  \
0        2019      10.179353       9.794401   0.384952      35.209974
1        2020       9.896382       9.742599   0.153783      34.866776
2        2021      10.309249      10.236994   0.072254      34.416185
3        2022      10.485570      10.419913   0.065657      33.575758

   avg_dreb_away  dreb_diff
0      34.256343   0.953631
1      34.178454   0.688322
2      33.875000   0.541185
3      32.632756   0.943001

In [15]:
covid_reb_home = pd.read_sql_query("SELECT team_name_home, AVG(oreb_home), AVG(dreb_home), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_home, season_id", con)
covid_reb_home

         team_name_home  AVG(oreb_home)  AVG(dreb_home) season_id
0         Atlanta Hawks       10.205882       34.323529     22019
1         Atlanta Hawks       10.388889       36.527778     22020
2         Atlanta Hawks        9.341463       34.268293     22021
3         Atlanta Hawks       11.536585       34.439024     22022
4        Boston Celtics       10.138889       35.194444     22019
..                  ...             ...             ...       ...
115           Utah Jazz       12.000000       35.121951     22022
116  Washington Wizards       10.277778       32.861111     22019
117  Washington Wizards        9.611111       35.944444     22020
118  Washington Wizards        9.024390       34.512195     22021
119  Washington Wizards        9.317073       34.829268     22022

[120 rows x 4 columns]

In [16]:
covid_reb_home = pd.read_sql_query("SELECT team_name_home, oreb_home, dreb_home, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_home, season_id", con)
covid_reb_home['oreb_home'].describe()

count    30.000000
mean     11.133333
std       3.401149
min       5.000000
25%       9.000000
50%      11.000000
75%      12.750000
max      21.000000
Name: oreb_home, dtype: float64

In [17]:
covid_reb_home = pd.read_sql_query("SELECT team_name_home, oreb_home, dreb_home, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_home, season_id", con)
covid_reb_home['oreb_home'].describe()

count    30.000000
mean      9.700000
std       3.602202
min       3.000000
25%       7.000000
50%      10.000000
75%      12.750000
max      19.000000
Name: oreb_home, dtype: float64

In [18]:
covid_reb_home = pd.read_sql_query("SELECT team_name_home, oreb_home, dreb_home, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_home, season_id", con)
covid_reb_home['dreb_home'].describe()

count    30.000000
mean     36.533333
std       5.763939
min      26.000000
25%      32.000000
50%      36.500000
75%      41.000000
max      50.000000
Name: dreb_home, dtype: float64

In [19]:
covid_reb_home = pd.read_sql_query("SELECT team_name_home, oreb_home, dreb_home, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_home, season_id", con)
covid_reb_home['dreb_home'].describe()

count    30.000000
mean     36.166667
std       5.866817
min      26.000000
25%      31.000000
50%      36.500000
75%      40.000000
max      49.000000
Name: dreb_home, dtype: float64

In [20]:
covid_reb_away = pd.read_sql_query("SELECT team_name_away, AVG(oreb_away), AVG(dreb_away), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_away, season_id", con)
covid_reb_away

         team_name_away  AVG(oreb_away)  AVG(dreb_away) season_id
0         Atlanta Hawks        9.515152       32.424242     22019
1         Atlanta Hawks       10.722222       33.611111     22020
2         Atlanta Hawks       10.731707       33.609756     22021
3         Atlanta Hawks       10.902439       31.878049     22022
4        Boston Celtics       11.194444       35.611111     22019
..                  ...             ...             ...       ...
115           Utah Jazz       11.609756       33.024390     22022
116  Washington Wizards       10.055556       30.888889     22019
117  Washington Wizards        9.750000       35.083333     22020
118  Washington Wizards        8.951220       33.731707     22021
119  Washington Wizards        9.560976       33.560976     22022

[120 rows x 4 columns]

In [21]:
covid_reb_away = pd.read_sql_query("SELECT team_name_away, oreb_away, dreb_away, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_away, season_id", con)
covid_reb_away['oreb_away'].describe()

count    30.000000
mean      9.833333
std       4.291799
min       3.000000
25%       6.250000
50%      10.000000
75%      12.000000
max      20.000000
Name: oreb_away, dtype: float64

In [22]:
covid_reb_away = pd.read_sql_query("SELECT team_name_away, oreb_away, dreb_away, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_away, season_id", con)
covid_reb_away['oreb_away'].describe()

count    30.000000
mean      9.133333
std       3.115405
min       5.000000
25%       7.000000
50%       8.500000
75%      11.000000
max      18.000000
Name: oreb_away, dtype: float64

In [23]:
covid_reb_away = pd.read_sql_query("SELECT team_name_away, oreb_away, dreb_away, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_away, season_id", con)
covid_reb_away['dreb_away'].describe()

count    30.000000
mean     35.766667
std       5.624352
min      25.000000
25%      32.000000
50%      35.000000
75%      40.000000
max      47.000000
Name: dreb_away, dtype: float64

In [24]:
covid_reb_away = pd.read_sql_query("SELECT team_name_away, oreb_away, dreb_away, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_away, season_id", con)
covid_reb_away['dreb_away'].describe()

count    30.000000
mean     36.166667
std       5.180090
min      24.000000
25%      33.250000
50%      36.000000
75%      40.000000
max      47.000000
Name: dreb_away, dtype: float64

#### Question 4

In [25]:
result = []
for year in seasons:
    fg3_query = f"""
    SELECT 
        AVG(fg3_pct_home) AS avg_fg3_pct_home,
        AVG(fg3_pct_away) AS avg_fg3_pct_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    fg3_data = pd.read_sql_query(fg3_query, con)
    
    if not fg3_data.empty:
        avg_fg3_pct_home = fg3_data['avg_fg3_pct_home'][0]
        avg_fg3_pct_away = fg3_data['avg_fg3_pct_away'][0]
        
        result.append({
            'season_year': year,
            'avg_fg3_pct_home': avg_fg3_pct_home,
            'avg_fg3_pct_away': avg_fg3_pct_away
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_fg3_pct_home  avg_fg3_pct_away
0        2019          0.361411          0.353990
1        2020          0.367235          0.362348
2        2021          0.354915          0.350280
3        2022          0.362962          0.351737

In [26]:
covid_fg3_home = pd.read_sql_query("SELECT team_name_home, AVG(fg3_pct_home), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_home, season_id", con)
covid_fg3_home

         team_name_home  AVG(fg3_pct_home) season_id
0         Atlanta Hawks           0.344735     22019
1         Atlanta Hawks           0.381444     22020
2         Atlanta Hawks           0.380049     22021
3         Atlanta Hawks           0.347439     22022
4        Boston Celtics           0.378417     22019
..                  ...                ...       ...
115           Utah Jazz           0.363171     22022
116  Washington Wizards           0.371778     22019
117  Washington Wizards           0.346611     22020
118  Washington Wizards           0.341512     22021
119  Washington Wizards           0.370707     22022

[120 rows x 3 columns]

In [27]:
covid_fg3_home = pd.read_sql_query("SELECT team_name_home, fg3_pct_home, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_home, season_id", con)
covid_fg3_home['fg3_pct_home'].describe()

count    30.000000
mean      0.332833
std       0.077337
min       0.217000
25%       0.274750
50%       0.333000
75%       0.356500
max       0.556000
Name: fg3_pct_home, dtype: float64

In [28]:
covid_fg3_home = pd.read_sql_query("SELECT team_name_home, fg3_pct_home, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_home, season_id", con)
covid_fg3_home['fg3_pct_home'].describe()

count    30.00000
mean      0.33530
std       0.09684
min       0.12100
25%       0.27600
50%       0.35350
75%       0.40325
max       0.55600
Name: fg3_pct_home, dtype: float64

In [29]:
covid_fg3_away = pd.read_sql_query("SELECT team_name_away, AVG(fg3_pct_away), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_away, season_id", con)
covid_fg3_away

         team_name_away  AVG(fg3_pct_away) season_id
0         Atlanta Hawks           0.319788     22019
1         Atlanta Hawks           0.358944     22020
2         Atlanta Hawks           0.363439     22021
3         Atlanta Hawks           0.359341     22022
4        Boston Celtics           0.353278     22019
..                  ...                ...       ...
115           Utah Jazz           0.340805     22022
116  Washington Wizards           0.365111     22019
117  Washington Wizards           0.359667     22020
118  Washington Wizards           0.344366     22021
119  Washington Wizards           0.337756     22022

[120 rows x 3 columns]

In [30]:
covid_fg3_away = pd.read_sql_query("SELECT team_name_away, fg3_pct_away, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_away, season_id", con)
covid_fg3_away['fg3_pct_away'].describe()

count    30.000000
mean      0.344267
std       0.099422
min       0.152000
25%       0.289500
50%       0.346500
75%       0.379000
max       0.563000
Name: fg3_pct_away, dtype: float64

In [31]:
covid_fg3_away = pd.read_sql_query("SELECT team_name_away, fg3_pct_away, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_away, season_id", con)
covid_fg3_away['fg3_pct_away'].describe()

count    30.000000
mean      0.373267
std       0.074224
min       0.229000
25%       0.345250
50%       0.365000
75%       0.412750
max       0.538000
Name: fg3_pct_away, dtype: float64

#### Question 5

In [32]:
result = []
for year in seasons:
    ft_query = f"""
    SELECT 
        AVG(ft_pct_home) AS avg_ft_pct_home,
        AVG(ft_pct_away) AS avg_ft_pct_away
    FROM game
    WHERE SUBSTR(season_id, -4) = '{year}'
    """
    
    ft_data = pd.read_sql_query(ft_query, con)
    
    if not ft_data.empty:
        avg_ft_pct_home = ft_data['avg_ft_pct_home'][0]
        avg_ft_pct_away = ft_data['avg_ft_pct_away'][0]
        
        result.append({
            'season_year': year,
            'avg_ft_pct_home': avg_ft_pct_home,
            'avg_ft_pct_away': avg_ft_pct_away
        })

result_df = pd.DataFrame(result)
print(result_df)

  season_year  avg_ft_pct_home  avg_ft_pct_away
0        2019         0.771852         0.772411
1        2020         0.779016         0.775290
2        2021         0.775135         0.775920
3        2022         0.782598         0.780615

In [33]:
covid_fg_home = pd.read_sql_query("SELECT team_name_home, AVG(fg_pct_home), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_home, season_id", con)
covid_fg_home

         team_name_home  AVG(fg_pct_home) season_id
0         Atlanta Hawks          0.459618     22019
1         Atlanta Hawks          0.477889     22020
2         Atlanta Hawks          0.482902     22021
3         Atlanta Hawks          0.482561     22022
4        Boston Celtics          0.469833     22019
..                  ...               ...       ...
115           Utah Jazz          0.471341     22022
116  Washington Wizards          0.457583     22019
117  Washington Wizards          0.481972     22020
118  Washington Wizards          0.479000     22021
119  Washington Wizards          0.486415     22022

[120 rows x 3 columns]

In [34]:
covid_fg_home = pd.read_sql_query("SELECT team_name_home, fg_pct_home, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_home, season_id", con)
covid_fg_home['fg_pct_home'].describe()

count    30.000000
mean      0.441867
std       0.061571
min       0.299000
25%       0.400500
50%       0.432500
75%       0.474000
max       0.626000
Name: fg_pct_home, dtype: float64

In [35]:
covid_fg_home = pd.read_sql_query("SELECT team_name_home, fg_pct_home, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_home, season_id", con)
covid_fg_home['fg_pct_home'].describe()

count    30.000000
mean      0.451600
std       0.052411
min       0.342000
25%       0.403500
50%       0.467000
75%       0.483250
max       0.556000
Name: fg_pct_home, dtype: float64

In [36]:
covid_fg_away = pd.read_sql_query("SELECT team_name_away, AVG(fg_pct_away), season_id FROM game WHERE season_id IN (22022, 22021, 22020, 22019) GROUP BY team_name_away, season_id", con)
covid_fg_away

         team_name_away  AVG(fg_pct_away) season_id
0         Atlanta Hawks          0.440697     22019
1         Atlanta Hawks          0.460389     22020
2         Atlanta Hawks          0.459366     22021
3         Atlanta Hawks          0.486098     22022
4        Boston Celtics          0.454000     22019
..                  ...               ...       ...
115           Utah Jazz          0.476951     22022
116  Washington Wizards          0.458611     22019
117  Washington Wizards          0.467056     22020
118  Washington Wizards          0.465390     22021
119  Washington Wizards          0.487366     22022

[120 rows x 3 columns]

In [37]:
covid_fg_away = pd.read_sql_query("SELECT team_name_away, fg_pct_away, season_id FROM game WHERE season_id IN (22019) GROUP BY team_name_away, season_id", con)
covid_fg_away['fg_pct_away'].describe()

count    30.000000
mean      0.442967
std       0.063498
min       0.326000
25%       0.395750
50%       0.435500
75%       0.472500
max       0.625000
Name: fg_pct_away, dtype: float64

In [38]:
covid_fg_away = pd.read_sql_query("SELECT team_name_away, fg_pct_away, season_id FROM game WHERE season_id IN (22020) GROUP BY team_name_away, season_id", con)
covid_fg_away['fg_pct_away'].describe()

count    30.000000
mean      0.481567
std       0.045188
min       0.374000
25%       0.455500
50%       0.478500
75%       0.509750
max       0.561000
Name: fg_pct_away, dtype: float64

In [39]:
con.close()

# Issue 6: Storyboard

#### Question 1: How has the difference in win-loss ratio between home and away teams changed from the 2019-20 season to the 2022-23 season? (wl_home and wl_away columns in game table)

1. **Intro**: Establish baseline by showing the average win-loss ratios throughout the seasons (at least in the last 20 years) preceding 2019-20.
3. **Climax**: Show win-loss ratios between teams during Covid-19 Pandemic (2019-20 season to 2022-23 season).
4. **Falling action**: Look at ratios from one team from the same seasons.
5. **Ending**: Use regression to show how future win-loss ratios might look like.

#### Question 2: How has the difference in average points scored between home and away teams changed from the 2019-20 season to the 2022-23 season? (pts_home and pts_away columns in game table)

1. **Intro**: Establish baseline by showing the average home-away team points throughout the seasons (at least in the last 20 years) preceding 2019-20.
2. **Rising action**: Show average home-away team points compared to significant events (e.g. the 2007-8 Financial Crisis)
3. **Climax**: Show home-away team points between teams during Covid-19 Pandemic (2019-20 season to 2022-23 season).
4. **Falling action**: Look at home-away team points from one team from the same seasons.
5. **Ending**: Use regression to show how future home-away team points might look like.

#### Question 3: How has the difference in offensive and defensive rebounds between home and away teams changed from 2019-20 to 2022-23?(oreb_home, oreb_away, dreb_home, dreb_away in the game table)

1. **Intro**: Establish baseline by showing the average oreb and dreb throughout the seasons (at least in the last 20 years) preceding 2019-20.
2. **Rising action**: Show oreb & dreb compared to significant events (e.g. the 2007-8 Financial Crisis).
3. **Climax**: Show oreb & dreb between teams during Covid-19 Pandemic (2019-20 season to 2022-23 season).
4. **Falling action**: Look at oreb & dreb from one team from the same seasons.
5. **Ending**: Use regression to show how future oreb & dreb ratios might look like.

#### Question 4: How does the average number of three-point field goals made by home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (fg3_pct_home and fg3_pct_away columns in game table)

1. **Intro**: Establish baseline by showing the average 3-points between home & away teams throughout the seasons (at least in the last 20 years) preceding the 2019-20 season.
2. **Rising action**: Show 3-point averages compared to significant events (e.g. the 2007-8 Financial Crisis)
3. **Climax**: Show 3-point averages between teams during Covid-19 Pandemic (2019-20 season to 2022-23 season).
4. **Falling action**: Look at 3-point averages from one team from the same seasons.
5. **Ending**: Use regression to show how future 3-point averages might look like.

#### Question 5: How does the free throw percentage of home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (ft_pct_home and ft_pct_away in the game table)

1. **Intro**: Establish baseline by showing the average free throws between home and away teams throughout the seasons (at least in the last 20 years) before the 2019-20 season.
2. **Rising action**: Show free throw averages compared to significant events (e.g. the 2007-8 Financial Crisis)
3. **Climax**: Show free throw averages between teams during Covid-19 Pandemic (2019-20 season to 2022-23 season).
4. **Falling action**: Look at free throw averages from one team from the same seasons.
5. **Ending**: Use regression to show how future free throw averages might look like.