#### Business Objective: What was the impact of the COVID-19 pandemic on the level of home court advantage?
- Question 1: How has the difference in win-loss ratio between home and away teams changed from the 2019-20 season to the 2022-23 season? (wl_home and wl_away columns in game table)
- Question 2: How has the difference in average points scored between home and away teams changed from the 2019-20 season to the 2022-23 season? (pts_home and pts_away columns in game table)
- Question 3: How has the difference in offensive and defensive rebounds between home and away teams changed from 2019-20 to 2022-23?(oreb_home, oreb_away, dreb_home, dreb_away in the game table)
- Question 4: How does the average number of three-point field goals made by home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (fg3_pct_home and fg3_pct_away columns in game table)
- Question 5: How does the free throw percentage of home teams compare to that of away teams from the 2019-20 season to the 2022-23 season? (ft_pct_home and ft_pct_away in the game table)

In [1]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
# this is question #2, we are doing difference in the 2022 season first as post covid & then difference in 2019 season as pre covid
avg_points_diff_2022 = """
            SELECT AVG(pts_home) - AVG(pts_away)
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(avg_points_diff_2022, con)

   AVG(pts_home) - AVG(pts_away)
0                            2.5

In [2]:
avg_points_diff_2019 = """
            SELECT AVG(pts_home) - AVG(pts_away)
            FROM game
            WHERE season_id='22019'
            """
pd.read_sql_query(avg_points_diff_2019, con)

   AVG(pts_home) - AVG(pts_away)
0                       2.130312

In [ ]:
#In the above query, we only solved question #2 but we are only getting an integer value that is the difference between home points and away points and we aren't doing anything deeper where we do want to figure out what the percentage difference is

In [3]:
#Question 1 is more confusing for me & I'm not sure what I'm doing wrong since the answers of wl_home & wl_away end up being 0
wl_home_diff_2022= """
            SELECT SUM(wl_home  = 'W') - SUM(wl_home  = 'L')
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(wl_home_diff_2022, con)

   SUM(wl_home  = 'W') - SUM(wl_home  = 'L')
0                                        198

In [4]:
wl_away_diff_2022= """
            SELECT SUM(wl_away = 'W') - SUM(wl_away = 'L')
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(wl_away_diff_2022, con)

   SUM(wl_away = 'W') - SUM(wl_away = 'L')
0                                     -198

In [5]:
wl_home_diff_2019= """
            SELECT SUM(wl_home = 'W') - SUM(wl_home = 'L')
            FROM game
            WHERE season_id='22019'
            """
pd.read_sql_query(wl_home_diff_2019, con)

   SUM(wl_home = 'W') - SUM(wl_home = 'L')
0                                      109

In [6]:
#question 4 below:
fg3p_diff_2022 = """
            SELECT AVG(fg3_pct_home) - AVG(fg3_pct_away)
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(fg3p_diff_2022, con)

   AVG(fg3_pct_home) - AVG(fg3_pct_away)
0                                0.01151

In [7]:
fg3p_diff_2019 = """
            SELECT AVG(fg3_pct_home) - AVG(fg3_pct_away)
            FROM game
            WHERE season_id='22019'
            """
pd.read_sql_query(fg3p_diff_2019, con)

   AVG(fg3_pct_home) - AVG(fg3_pct_away)
0                               0.007389

In [ ]:
# For question 4, It does seem like the difference in 2022 is far bigger than difference in 2019

In [8]:
#question 5 below:

ft_diff_2022= """ SELECT AVG(ft_pct_home) - AVG(ft_pct_away)
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(ft_diff_2022, con)

   AVG(ft_pct_home) - AVG(ft_pct_away)
0                             0.001827

In [9]:
ft_diff_2019= """ SELECT AVG(ft_pct_home) - AVG(ft_pct_away)
            FROM game
            WHERE season_id='22019'
            """
pd.read_sql_query(ft_diff_2019, con)

   AVG(ft_pct_home) - AVG(ft_pct_away)
0                            -0.001795

In [ ]:
#For question 5, just like question 4, there does seem to be some difference between 2022 and 2019 in terms of pre covid free throw percentage & post covid free throw percentage between home and away games

In [11]:
#question 3 below:
reb_avg_diff_2022= """
            SELECT (AVG(oreb_home) + AVG(dreb_home)) - (AVG(oreb_away) + AVG(dreb_away))
            FROM game
            WHERE season_id='22022'
            """
pd.read_sql_query(reb_avg_diff_2022, con)

   (AVG(oreb_home) + AVG(dreb_home)) - (AVG(oreb_away) + AVG(dreb_away))
0                                           0.905691

In [12]:
reb_avg_diff_2019= """
            SELECT (AVG(oreb_home) + AVG(dreb_home)) - (AVG(oreb_away) + AVG(dreb_away))
            FROM game
            WHERE season_id='22019'
            """
pd.read_sql_query(reb_avg_diff_2019, con)

   (AVG(oreb_home) + AVG(dreb_home)) - (AVG(oreb_away) + AVG(dreb_away))
0                                           1.402266

In [ ]:
#For question 3, I just decided to aggreate it into total rebounds by adding offensive & defensive at home then subtracting them from offensive & defensive at away to see the difference,