IM02 Online Section Group Notebook

In [29]:
#Perry Gonzalez Issue 5
import pandas as pd
import sqlite3
# Question 1: Which teams have most consistently had the highest score?
con = sqlite3.connect("data/nba.sqlite")
overall = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
highest_score = pd.read_sql_query("SELECT team_name_home AS Team_Name, AVG(pts_home) AS Average_Points FROM game GROUP BY team_id_home ORDER BY AVG(pts_home) DESC", con)
highest_score

                          Team_Name  Average_Points
0           West NBA All Stars West      134.415094
1           East NBA All Stars East      126.280000
2                    Denver Nuggets      110.355020
3                      Phoenix Suns      109.738127
4                Minneapolis Lakers      107.497438
..                              ...             ...
58                Flamengo Flamengo       73.000000
59  MMT Estudiantes MMT Estudiantes       73.000000
60                St. Louis Bombers       71.160000
61                  Detroit Falcons       61.500000
62               Pittsburgh Ironmen       59.866667

[63 rows x 2 columns]

In [71]:
import pandas as pd
import sqlite3


#using entire database
con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)


#question 1 Jenny Lee
avg_scores = pd.read_sql_query("""
    SELECT team_name_home, season_id, AVG(pts_home) AS avg_score
    FROM game
    GROUP BY team_name_home, season_id
    ORDER BY avg_score DESC
""", con)
avg_scores

               team_name_home season_id   avg_score
0     West NBA All Stars West     32016  192.000000
1                 Team LeBron     32022  175.000000
2     East NBA All Stars East     32015  173.000000
3                Team Giannis     32018  164.000000
4                 Team LeBron     32021  163.000000
...                       ...       ...         ...
2922           Boston Celtics     21946   61.517241
2923          Detroit Falcons     21946   61.500000
2924       Pittsburgh Ironmen     21946   59.866667
2925        St. Louis Bombers     41947   59.750000
2926    Philadelphia Warriors     41949   53.000000

[2927 rows x 3 columns]

In [2]:
# Question 2: Which team has had below average for the most 
# consecutive seasons?

total_average_pts = pd.read_sql_query("SELECT AVG(pts_home + pts_away) AS Average_Points FROM game", con)
#Total Avearage is 205.610704
below_average = pd.read_sql_query("""
    SELECT 
        team_name_home AS Team_Name, 
        team_id_home AS Team_ID,
        COUNT(season_id) AS Seasons_Below_Average
    FROM (
        SELECT 
            season_id, 
            team_id_home, 
            team_name_home,
            AVG(pts_home + pts_away) AS Season_Avg_Points
        FROM game
        GROUP BY season_id, team_id_home
        HAVING Season_Avg_Points < 205.610704
    ) AS Season_Below_Average
    GROUP BY team_id_home
    ORDER BY Seasons_Below_Average DESC
""", con)

below_average

                           Team_Name     Team_ID  Seasons_Below_Average
0                    Detroit Pistons  1610612765                     75
1                    New York Knicks  1610612752                     74
2                     Boston Celtics  1610612738                     70
3                      Atlanta Hawks  1610612737                     68
4                 Los Angeles Lakers  1610612747                     62
5                      Chicago Bulls  1610612741                     61
6                 Philadelphia 76ers  1610612755                     59
7                Cleveland Cavaliers  1610612739                     55
8                  San Antonio Spurs  1610612759                     53
9                          Utah Jazz  1610612762                     52
10                  Sacramento Kings  1610612758                     52
11                   Milwaukee Bucks  1610612749                     51
12                Washington Wizards  1610612764                     50
13                    Indiana Pacers  1610612754                     49
14                        Miami Heat  1610612748                     46
15                     Orlando Magic  1610612753                     45
16                   New Jersey Nets  1610612751                     44
17               Seattle SuperSonics  1610612760                     43
18                   Houston Rockets  1610612745                     43
19             Golden State Warriors  1610612744                     42
20                  Dallas Mavericks  1610612742                     42
21                 Memphis Grizzlies  1610612763                     41
22            Portland Trail Blazers  1610612757                     41
23                 Charlotte Bobcats  1610612766                     40
24              Los Angeles Clippers  1610612746                     40
25                   Toronto Raptors  1610612761                     35
26            Minnesota Timberwolves  1610612750                     34
27               New Orleans Hornets  1610612740                     29
28                      Phoenix Suns  1610612756                     28
29                    Denver Nuggets  1610612743                     27
30                 Baltimore Bullets  1610610024                     10
31               Washington Capitols  1610610036                      8
32            Indianapolis Olympians  1610610030                      8
33                     Chicago Stags  1610610025                      8
34                 St. Louis Bombers  1610610034                      7
35           East NBA All Stars East  1610616833                      6
36           Barcelona Winterthur FC       12304                      4
37           Providence Steamrollers  1610610032                      3
38         Istanbul Fenerbahce Ulker       12321                      3
39                Sheboygan Redskins  1610610033                      2
40                  Cleveland Rebels  1610610026                      2
41                  Anderson Packers  1610610023                      2
42                Berlin Alba Berlin       12323                      2
43  Milano EA7 Emporio Armani Milano          94                      1
44           West NBA All Stars West  1610616834                      1
45                    Waterloo Hawks  1610610037                      1
46                   Toronto Huskies  1610610035                      1
47                Pittsburgh Ironmen  1610610031                      1
48                 Indianapolis Jets  1610610029                      1
49                   Detroit Falcons  1610610028                      1
50                    Denver Nuggets  1610610027                      1
51                 Flamengo Flamengo       12325                      1
52   MMT Estudiantes MMT Estudiantes       12318                      1
53      Lottomatica Lottomatica Roma       12317                      1
54           Real Madrid Real Madrid       12315                      1
55     Unicaja Malaga Unicaja Malaga       12311                      1
56              Istanbul Efes Pilsen       12309                      1
57           Roma Virtus Lottomatica       12307                      1
58                         Khimki BC       12306                      1
59    Lyon-Villeurbanne Adecco ASVEL       12305                      1

In [73]:
#question 2 Jenny Lee
low_avg = pd.read_sql_query("""
    WITH avg_scores AS (
        SELECT season_id, AVG(pts_home) AS avg_pts
        FROM game
        GROUP BY season_id
    )
    SELECT g.team_name_home, g.season_id, COUNT(*) AS below_avg_seasons
    FROM game g
    JOIN avg_scores a ON g.season_id = a.season_id
    WHERE g.pts_home < a.avg_pts
    GROUP BY g.team_name_home, g.season_id
    ORDER BY below_avg_seasons DESC
""", con)
low_avg

           team_name_home season_id  below_avg_seasons
0           Chicago Bulls     21983                 39
1           Chicago Bulls     21999                 38
2          Denver Nuggets     22002                 38
3     Cleveland Cavaliers     21982                 37
4              Miami Heat     21988                 37
...                   ...       ...                ...
2665   Washington Wizards     12009                  1
2666   Washington Wizards     12010                  1
2667   Washington Wizards     12011                  1
2668   Washington Wizards     12022                  1
2669   Washington Wizards     42020                  1

[2670 rows x 3 columns]

In [3]:
# Question 3: Which team has consistently made it to the playoffs?

consistent_playoffs =  pd.read_sql_query("""
SELECT team_name_home AS team, COUNT(DISTINCT season_id) AS playoff_seasons
FROM game
WHERE season_type = 'Playoffs'
GROUP BY team
ORDER BY playoff_seasons DESC;
""", con)
consistent_playoffs

                         team  playoff_seasons
0              Boston Celtics               54
1          Los Angeles Lakers               45
2             New York Knicks               38
3          Philadelphia 76ers               35
4           San Antonio Spurs               34
5      Portland Trail Blazers               33
6             Milwaukee Bucks               33
7               Chicago Bulls               33
8               Atlanta Hawks               33
9             Houston Rockets               31
10               Phoenix Suns               28
11                  Utah Jazz               27
12            Detroit Pistons               27
13             Denver Nuggets               27
14             Indiana Pacers               22
15           Dallas Mavericks               22
16                 Miami Heat               20
17        Cleveland Cavaliers               20
18      Golden State Warriors               19
19        Seattle SuperSonics               18
20         Washington Bullets               13
21              Orlando Magic               13
22            New Jersey Nets               13
23          Memphis Grizzlies               12
24            Toronto Raptors               11
25         Syracuse Nationals               11
26      Philadelphia Warriors               10
27      Oklahoma City Thunder               10
28         Minneapolis Lakers               10
29     Minnesota Timberwolves                9
30         Washington Wizards                8
31            St. Louis Hawks                8
32  Ft. Wayne Zollner Pistons                8
33              Brooklyn Nets                8
34          Baltimore Bullets                8
35           Sacramento Kings                7
36           Rochester Royals                7
37       Los Angeles Clippers                7
38                LA Clippers                6
39          Charlotte Hornets                6
40        New Orleans Hornets                5
41          Cincinnati Royals                5
42     San Francisco Warriors                4
43          Kansas City Kings                4
44     Indianapolis Olympians                4
45              Chicago Stags                4
46        Washington Capitols                3
47          St. Louis Bombers                3
48       New Orleans Pelicans                3
49             Buffalo Braves                3
50          Charlotte Bobcats                2
51      Tri-Cities Blackhawks                1
52         Sheboygan Redskins                1
53    Kansas City-Omaha Kings                1
54           Cleveland Rebels                1
55            Capital Bullets                1
56           Anderson Packers                1

In [75]:
#question 3 Jenny Lee
playoffs = pd.read_sql_query("""
SELECT g.team_name_home, g.season_id, COUNT(DISTINCT season_id) AS playoff_seasons
FROM game g
WHERE season_type = 'Playoffs'
GROUP BY g.team_name_home
ORDER BY playoff_seasons DESC;
""", con)
playoffs.head()

       team_name_home season_id  playoff_seasons
0      Boston Celtics     41947               54
1  Los Angeles Lakers     41961               45
2     New York Knicks     41946               38
3  Philadelphia 76ers     41963               35
4   San Antonio Spurs     41976               34

In [5]:
# Question 4: Does a higher proportion of successful three-point throws
# increase the likelihood of winning?

three_point_ratio_win_rate = pd.read_sql_query("""
WITH GameStats AS (
    SELECT 
        game_id,
        team_name_home AS team,
        fga_home, 
        fg3a_home,
        CAST(fg3a_home AS FLOAT) / NULLIF(fga_home, 0) AS three_pt_ratio,
        CASE WHEN wl_home = 'W' THEN 1 ELSE 0 END AS win
    FROM game
    WHERE fga_home IS NOT NULL AND fg3a_home IS NOT NULL
)
SELECT 
    CASE 
        WHEN three_pt_ratio < 0.2 THEN 'Low (<20%)'
        WHEN three_pt_ratio BETWEEN 0.2 AND 0.4 THEN 'Medium (20-40%)'
        WHEN three_pt_ratio BETWEEN 0.4 AND 0.6 THEN 'High (40-60%)'
        ELSE 'Very High (>60%)'
    END AS three_point_ratio_range,
    AVG(win) AS win_rate,
    AVG(three_pt_ratio) AS avg_three_pt_ratio
FROM GameStats
GROUP BY three_point_ratio_range
ORDER BY avg_three_pt_ratio DESC;
""", con)

three_point_ratio_win_rate

  three_point_ratio_range  win_rate  avg_three_pt_ratio
0        Very High (>60%)  0.687500            0.630903
1           High (40-60%)  0.566279            0.454567
2         Medium (20-40%)  0.585070            0.281848
3              Low (<20%)  0.626172            0.112949

In [4]:
# Question 5: How does the frequency of turnovers in a game affect
# the likelihood of winning? Simply put, do more turnovers help or hinder?

turnover_impact = pd.read_sql_query("""
WITH TurnoverStats AS (
    SELECT 
        game_id,
        team_name_home AS team,
        tov_home AS turnovers,
        CASE WHEN wl_home = 'W' THEN 1 ELSE 0 END AS win
    FROM game
    WHERE tov_home IS NOT NULL
)
SELECT 
    CASE 
        WHEN turnovers < 10 THEN 'Low (<10)'
        WHEN turnovers BETWEEN 10 AND 15 THEN 'Medium (10-15)'
        WHEN turnovers BETWEEN 16 AND 20 THEN 'High (16-20)'
        ELSE 'Very High (>20)'
    END AS turnover_range,
    AVG(win) AS win_rate,
    AVG(turnovers) AS avg_turnover_frequency
FROM TurnoverStats
GROUP BY turnover_range
ORDER BY avg_turnover_frequency DESC;
""", con)

turnover_impact

    turnover_range  win_rate  avg_turnover_frequency
0  Very High (>20)  0.537691               22.875954
1     High (16-20)  0.575101               17.600943
2   Medium (10-15)  0.625738               12.779019
3        Low (<10)  0.650805                7.876420

In [103]:
#6. Which teams have shown the greatest improvement over the past five years?
#question 6 Jenny

score_improvement = pd.read_sql_query("""
WITH team_season_scores AS (
    SELECT
        team_name_home,
        strftime('%Y', game_date) AS game_year,
        AVG(pts_home) AS avg_points
    FROM
        game
    WHERE
        strftime('%Y', game_date) <= '2023' AND strftime('%Y', game_date) >= '2019'
        AND season_type = 'Regular Season'
    GROUP BY
        team_name_home, game_year
),
team_score_improvement AS (
    SELECT
        team_name_home,
        MAX(avg_points) AS recent_avg_points,
        MIN(avg_points) AS earliest_avg_points,
        MAX(avg_points) - MIN(avg_points) AS score_improvement
    FROM
        team_season_scores
    GROUP BY
        team_name_home
)
SELECT
    team_name_home,
    recent_avg_points,
    earliest_avg_points,
    score_improvement
FROM
    team_score_improvement
ORDER BY
    score_improvement DESC;
""", con)

score_improvement.head()

,team_name_home,recent_avg_points,earliest_avg_points,score_improvement
0,Oklahoma City Thunder,124.409091,105.058824,19.350267
1,New York Knicks,118.130435,104.146341,13.984093
2,Golden State Warriors,120.086957,106.352941,13.734015
3,Sacramento Kings,124.173913,111.205128,12.968785
4,Houston Rockets,119.384615,107.431373,11.953243

In [4]:
#Question 5: Which teams have demonstrated the best defensive metrics (e.g., blocks and steals), and how has this impacted their winning consistency?
import pandas as pd
import sqlite3 
con = sqlite3.connect("data/nba.sqlite")
games_recent_5yrs = pd.read_sql_query("""
	SELECT * FROM game 
	WHERE season_type NOT IN ('All Star', 'All-Star') 
	AND game_date BETWEEN '2019-01-01 00:00:00' AND '2023-12-31 23:59:59'
    ORDER BY game_date DESC
""", con)

regular_games = games_recent_5yrs[games_recent_5yrs['season_type']=='Regular Season']

# home games stats
home_defense = regular_games[['team_name_home', 'blk_home', 'stl_home', 'wl_home']].rename(
   columns={'team_name_home': 'team_name', 
           'blk_home': 'blocks',
           'stl_home': 'steals',
           'wl_home': 'win_loss'})

# away games stats
away_defense = regular_games[['team_name_away', 'blk_away', 'stl_away', 'wl_away']].rename(
   columns={'team_name_away': 'team_name',
           'blk_away': 'blocks', 
           'stl_away': 'steals',
           'wl_away': 'win_loss'})

# defense metrics
all_defense = pd.concat([home_defense, away_defense])
defense_stats = all_defense.groupby('team_name').agg(
    avg_blocks=('blocks', 'mean'),
    avg_steals=('steals', 'mean')
).reset_index()

# win rate 
wins = all_defense[all_defense['win_loss'] == 'W'].groupby('team_name').size()
total_games = all_defense.groupby('team_name').size()
win_rates = (wins / total_games).reset_index(name='win_rate')

# defense rating
defense_analysis = pd.merge(defense_stats, win_rates, on='team_name')
defense_analysis['defense_rating'] = defense_analysis['avg_blocks'] + defense_analysis['avg_steals']
defense_sorted = defense_analysis.sort_values(
   by=['defense_rating', 'win_rate'], 
   ascending=[False, False]
)

print("Teams with the best defensive metrics and their win consistency:")
print(defense_sorted.head(10))

Teams with the best defensive metrics and their win consistency:
                 team_name  avg_blocks  avg_steals  win_rate  defense_rating
14       Memphis Grizzlies    5.619718    8.653521  0.546479       14.273239
27         Toronto Raptors    5.036932    8.914773  0.568182       13.951705
17  Minnesota Timberwolves    5.397101    8.423188  0.431884       13.820290
22      Philadelphia 76ers    5.336158    8.050847  0.635593       13.387006
11          Indiana Pacers    5.576271    7.731638  0.457627       13.307910
1           Boston Celtics    5.485876    7.502825  0.621469       12.988701
13      Los Angeles Lakers    5.355114    7.508523  0.528409       12.863636
9    Golden State Warriors    4.713043    8.043478  0.530435       12.756522
10         Houston Rockets    4.810734    7.892655  0.381356       12.703390
23            Phoenix Suns    4.628895    7.824363  0.577904       12.453258