In [3]:
import pandas as pd
arrests=pd.read_csv("data/arrests.csv")
arrests

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,New Georeferenced Column
0,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,0,45-64,M,BLACK,1003509,185018,40.674496,-73.930571,POINT (-73.9305713255961 40.6744956865259)
1,279876234,01/03/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,101,0,25-44,M,BLACK,1053648,158969,40.602740,-73.750081,POINT (-73.750081 40.60274)
2,279939192,01/04/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1201001,F,K,83,0,45-64,M,BLACK,1007127,193705,40.698323,-73.917495,POINT (-73.917495 40.698323)
3,280561026,01/15/2024,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 140100A,M,S,121,0,18-24,M,BLACK,942827,166373,40.623238,-74.149217,POINT (-74.149217 40.623238)
4,280084387,01/07/2024,223.0,"BURGLARY,RESIDENCE,NIGHT",107.0,BURGLARY,PL 1403002,F,Q,107,0,45-64,M,BLACK,1036732,206997,40.734681,-73.810626,POINT (-73.810626 40.734681)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128773,288539851,06/14/2024,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,S,120,0,25-44,M,WHITE HISPANIC,961273,166477,40.623588,-74.082771,POINT (-74.08277059164357 40.62358756462782)
128774,288770364,06/19/2024,779.0,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,PL 215510D,F,S,122,0,45-64,M,WHITE HISPANIC,960514,151754,40.583176,-74.085450,POINT (-74.08545 40.583176)
128775,288845960,06/20/2024,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,M,9,2,45-64,M,BLACK HISPANIC,990284,201838,40.720673,-73.978232,POINT (-73.97823191814932 40.72067330872773)
128776,288345759,06/11/2024,510.0,"CONTROLLED SUBSTANCE, INTENT T",117.0,DANGEROUS DRUGS,PL 2200601,F,Q,103,0,25-44,M,ASIAN / PACIFIC ISLANDER,1038891,192114,40.693817,-73.802958,POINT (-73.80295796488015 40.69381660456438)
128777,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,2,18-24,M,BLACK,1024133,262519,40.887139,-73.855758,POINT (-73.855758 40.887139)

In [5]:
import pandas as pd
df = pd.read_csv("data/data.csv")
df = df[df.OFNS_DESC=="GRAND LARCENY"]
df

,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,51870,282411683,60,BROOKLYN,02/18/2024,12:10:00,02/18/2024,12:18:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,990148.0,155255.0,40.592813,-73.978763,"(40.592813307614215, -73.97876328945328)",POINT (-73.97876328945328 40.592813307614215)
1,116441,279933201,18,MANHATTAN,01/04/2024,00:15:00,01/04/2024,00:25:00,COMPLETED,(null),...,NaN,25-44,WHITE,F,988757.0,216332.0,40.760457,-73.983731,"(40.76045664314996, -73.98373096728758)",POINT (-73.98373096728758 40.76045664314996)
2,23539,281846733,20,MANHATTAN,09/07/2023,23:35:00,12/01/2023,12:00:00,COMPLETED,(null),...,NaN,65+,WHITE,M,989200.0,222851.0,40.778351,-73.982126,"(40.778351, -73.982126)",POINT (-73.982126 40.778351)
3,188022,281559921,75,BROOKLYN,01/30/2024,15:50:00,01/30/2024,15:56:00,COMPLETED,(null),...,NaN,25-44,BLACK HISPANIC,M,1016845.0,182111.0,40.666469,-73.882507,"(40.666469319202875, -73.8825067547414)",POINT (-73.8825067547414 40.666469319202875)
4,193201,286123283,50,BRONX,04/29/2024,01:00:00,04/30/2024,11:15:00,COMPLETED,(null),...,NaN,25-44,WHITE HISPANIC,F,1011088.0,271303.0,40.911299,-73.902901,"(40.911299, -73.902901)",POINT (-73.902901 40.911299)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
124995,91761,286845648,94,BROOKLYN,04/08/2024,21:00:00,04/08/2024,21:10:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,D,997580.0,207756.0,40.736909,-73.951898,"(40.736909, -73.951898)",POINT (-73.951898 40.736909)
124996,161324,287412892,45,BRONX,05/23/2024,19:30:00,05/23/2024,19:44:00,COMPLETED,(null),...,NaN,45-64,BLACK,F,1032451.0,257889.0,40.874390,-73.825706,"(40.87439, -73.825706)",POINT (-73.825706 40.87439)
124997,140071,288951279,109,QUEENS,06/22/2024,20:40:00,06/22/2024,20:45:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,1035970.0,217299.0,40.762962,-73.813298,"(40.762962, -73.813298)",POINT (-73.813298 40.762962)
124998,156536,280837077,105,QUEENS,01/20/2024,00:30:00,01/20/2024,13:30:00,COMPLETED,(null),...,NaN,25-44,BLACK,M,1053662.0,185761.0,40.676277,-73.749757,"(40.676277, -73.749757)",POINT (-73.749757 40.676277)

In [24]:
crimes=pd.read_csv("data/crimes.csv")
crimes

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
124999,177066,288472295,52,BRONX,04/24/2024,09:32:00,04/24/2024,09:34:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,D,1009475.0,257692.0,40.873944,-73.908788,"(40.873944, -73.908788)",POINT (-73.908788 40.873944)

In [12]:
print(arrests.head)
print(crimes.head)

<bound method NDFrame.head of         ARREST_KEY ARREST_DATE  PD_CD                         PD_DESC  KY_CD  \
0        279884335  01/03/2024  153.0                          RAPE 3  104.0
1        279876234  01/03/2024  105.0               STRANGULATION 1ST  106.0
2        279939192  01/04/2024  109.0        ASSAULT 2,1,UNCLASSIFIED  106.0
3        280561026  01/15/2024  203.0            TRESPASS 3, CRIMINAL  352.0
4        280084387  01/07/2024  223.0        BURGLARY,RESIDENCE,NIGHT  107.0
...            ...         ...    ...                             ...    ...
128773   288539851  06/14/2024  511.0  CONTROLLED SUBSTANCE, POSSESSI  235.0
128774   288770364  06/19/2024  779.0  PUBLIC ADMINISTRATION,UNCLASSI  126.0
128775   288845960  06/20/2024  511.0  CONTROLLED SUBSTANCE, POSSESSI  235.0
128776   288345759  06/11/2024  510.0  CONTROLLED SUBSTANCE, INTENT T  117.0
128777   288578223  06/15/2024  792.0      CRIMINAL POSSESSION WEAPON  118.0

                      OFNS_DESC    LAW_CODE LAW_CAT_CD ARREST_BORO  \
0                          RAPE  PL 1302503          F           K
1                FELONY ASSAULT  PL 1211200          F           Q
2                FELONY ASSAULT  PL 1201001          F           K
3             CRIMINAL TRESPASS  PL 140100A          M           S
4                      BURGLARY  PL 1403002          F           Q
...                         ...         ...        ...         ...
128773          DANGEROUS DRUGS  PL 2200300          M           S
128774  MISCELLANEOUS PENAL LAW  PL 215510D          F           S
128775          DANGEROUS DRUGS  PL 2200300          M           M
128776          DANGEROUS DRUGS  PL 2200601          F           Q
128777        DANGEROUS WEAPONS  PL 265031B          F           B

        ARREST_PRECINCT  JURISDICTION_CODE AGE_GROUP PERP_SEX  \
0                    77                  0     45-64        M
1                   101                  0     25-44        M
2                    83                  0     45-64        M
3                   121                  0     18-24        M
4                   107                  0     45-64        M
...                 ...                ...       ...      ...
128773              120                  0     25-44        M
128774              122                  0     45-64        M
128775                9                  2     45-64        M
128776              103                  0     25-44        M
128777               47                  2     18-24        M

                       PERP_RACE  X_COORD_CD  Y_COORD_CD   Latitude  \
0                          BLACK     1003509      185018  40.674496
1                          BLACK     1053648      158969  40.602740
2                          BLACK     1007127      193705  40.698323
3                          BLACK      942827      166373  40.623238
4                          BLACK     1036732      206997  40.734681
...                          ...         ...         ...        ...
128773            WHITE HISPANIC      961273      166477  40.623588
128774            WHITE HISPANIC      960514      151754  40.583176
128775            BLACK HISPANIC      990284      201838  40.720673
128776  ASIAN / PACIFIC ISLANDER     1038891      192114  40.693817
128777                     BLACK     1024133      262519  40.887139

        Longitude                      New Georeferenced Column
0      -73.930571    POINT (-73.9305713255961 40.6744956865259)
1      -73.750081                   POINT (-73.750081 40.60274)
2      -73.917495                  POINT (-73.917495 40.698323)
3      -74.149217                  POINT (-74.149217 40.623238)
4      -73.810626                  POINT (-73.810626 40.734681)
...           ...                                           ...
128773 -74.082771  POINT (-74.08277059164357 40.62358756462782)
128774 -74.085450                   POINT (-74.08545 40.583176)
128775 -73.978232  POINT (-73.97823191814932 40.72067330872773)
128776 -73.802958  POINT (-73.80295796488015 40.69381660456438)
128777 -73.855758                  POINT (-73.855758 40.887139)

[128778 rows x 19 columns]>
<bound method NDFrame.head of         Unnamed: 0 CMPLNT_NUM  ADDR_PCT_CD    BORO_NM CMPLNT_FR_DT  \
0            51870  282411683           60   BROOKLYN   02/18/2024
1           116441  279933201           18  MANHATTAN   01/04/2024
2            23539  281846733           20  MANHATTAN   09/07/2023
3           188022  281559921           75   BROOKLYN   01/30/2024
4           193201  286123283           50      BRONX   04/29/2024
...            ...        ...          ...        ...          ...
124995       91761  286845648           94   BROOKLYN   04/08/2024
124996      161324  287412892           45      BRONX   05/23/2024
124997      140071  288951279          109     QUEENS   06/22/2024
124998      156536  280837077          105     QUEENS   01/20/2024
124999      177066  288472295           52      BRONX   04/24/2024

       CMPLNT_FR_TM CMPLNT_TO_DT CMPLNT_TO_TM CRM_ATPT_CPTD_CD HADEVELOPT  \
0          12:10:00   02/18/2024     12:18:00        COMPLETED     (null)
1          00:15:00   01/04/2024     00:25:00        COMPLETED     (null)
2          23:35:00   12/01/2023     12:00:00        COMPLETED     (null)
3          15:50:00   01/30/2024     15:56:00        COMPLETED     (null)
4          01:00:00   04/30/2024     11:15:00        COMPLETED     (null)
...             ...          ...          ...              ...        ...
124995     21:00:00   04/08/2024     21:10:00        COMPLETED     (null)
124996     19:30:00   05/23/2024     19:44:00        COMPLETED     (null)
124997     20:40:00   06/22/2024     20:45:00        COMPLETED     (null)
124998     00:30:00   01/20/2024     13:30:00        COMPLETED     (null)
124999     09:32:00   04/24/2024     09:34:00        COMPLETED     (null)

        ...  TRANSIT_DISTRICT  VIC_AGE_GROUP        VIC_RACE  VIC_SEX  \
0       ...               NaN        UNKNOWN         UNKNOWN        E
1       ...               NaN          25-44           WHITE        F
2       ...               NaN            65+           WHITE        M
3       ...               NaN          25-44  BLACK HISPANIC        M
4       ...               NaN          25-44  WHITE HISPANIC        F
...     ...               ...            ...             ...      ...
124995  ...               NaN        UNKNOWN         UNKNOWN        D
124996  ...               NaN          45-64           BLACK        F
124997  ...               NaN        UNKNOWN         UNKNOWN        E
124998  ...               NaN          25-44           BLACK        M
124999  ...               NaN        UNKNOWN         UNKNOWN        D

       X_COORD_CD Y_COORD_CD   Latitude  Longitude  \
0        990148.0   155255.0  40.592813 -73.978763
1        988757.0   216332.0  40.760457 -73.983731
2        989200.0   222851.0  40.778351 -73.982126
3       1016845.0   182111.0  40.666469 -73.882507
4       1011088.0   271303.0  40.911299 -73.902901
...           ...        ...        ...        ...
124995   997580.0   207756.0  40.736909 -73.951898
124996  1032451.0   257889.0  40.874390 -73.825706
124997  1035970.0   217299.0  40.762962 -73.813298
124998  1053662.0   185761.0  40.676277 -73.749757
124999  1009475.0   257692.0  40.873944 -73.908788

                                         Lat_Lon  \
0       (40.592813307614215, -73.97876328945328)
1        (40.76045664314996, -73.98373096728758)
2                        (40.778351, -73.982126)
3        (40.666469319202875, -73.8825067547414)
4                        (40.911299, -73.902901)
...                                          ...
124995                   (40.736909, -73.951898)
124996                    (40.87439, -73.825706)
124997                   (40.762962, -73.813298)
124998                   (40.676277, -73.749757)
124999                   (40.873944, -73.908788)

                             New Georeferenced Column
0       POINT (-73.97876328945328 40.592813307614215)
1        POINT (-73.98373096728758 40.76045664314996)
2                        POINT (-73.982126 40.778351)
3        POINT (-73.8825067547414 40.666469319202875)
4                        POINT (-73.902901 40.911299)
...                                               ...
124995                   POINT (-73.951898 40.736909)
124996                    POINT (-73.825706 40.87439)
124997                   POINT (-73.813298 40.762962)
124998                   POINT (-73.749757 40.676277)
124999                   POINT (-73.908788 40.873944)

[125000 rows x 37 columns]>

In [30]:
#dropping duplicates from the crimes dataframe
crimes=crimes.drop_duplicates(subset='New Georeferenced Column')
crimes

,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,51870,282411683,60,BROOKLYN,02/18/2024,12:10:00,02/18/2024,12:18:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,990148.0,155255.0,40.592813,-73.978763,"(40.592813307614215, -73.97876328945328)",POINT (-73.97876328945328 40.592813307614215)
1,116441,279933201,18,MANHATTAN,01/04/2024,00:15:00,01/04/2024,00:25:00,COMPLETED,(null),...,NaN,25-44,WHITE,F,988757.0,216332.0,40.760457,-73.983731,"(40.76045664314996, -73.98373096728758)",POINT (-73.98373096728758 40.76045664314996)
2,23539,281846733,20,MANHATTAN,09/07/2023,23:35:00,12/01/2023,12:00:00,COMPLETED,(null),...,NaN,65+,WHITE,M,989200.0,222851.0,40.778351,-73.982126,"(40.778351, -73.982126)",POINT (-73.982126 40.778351)
3,188022,281559921,75,BROOKLYN,01/30/2024,15:50:00,01/30/2024,15:56:00,COMPLETED,(null),...,NaN,25-44,BLACK HISPANIC,M,1016845.0,182111.0,40.666469,-73.882507,"(40.666469319202875, -73.8825067547414)",POINT (-73.8825067547414 40.666469319202875)
5,252897,283584654,75,BROOKLYN,03/11/2024,20:00:00,03/11/2024,22:00:00,COMPLETED,(null),...,NaN,25-44,UNKNOWN,M,1014230.0,181306.0,40.664271,-73.891935,"(40.664271, -73.891935)",POINT (-73.891935 40.664271)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53724,93012,285638576,52,BRONX,04/20/2024,01:00:00,04/20/2024,01:16:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,1013654.0,255157.0,40.866974,-73.893689,"(40.866974, -73.893689)",POINT (-73.893689 40.866974)
68329,75121,283581192,9,MANHATTAN,01/12/2024,20:00:00,02/20/2024,18:02:00,COMPLETED,(null),...,NaN,25-44,BLACK,F,988484.0,205422.0,40.730513,-73.984722,"(40.730513, -73.984722)",POINT (-73.984722 40.730513)
92821,67714,286216425,44,BRONX,05/01/2024,21:40:00,05/01/2024,21:56:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,D,1003340.0,240550.0,40.826909,-73.931022,"(40.82690902157146, -73.93102151496063)",POINT (-73.93102151496063 40.82690902157146)
92876,105306,285619225,108,QUEENS,04/19/2024,14:30:00,04/19/2024,16:30:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,995554.0,209962.0,40.742967,-73.959204,"(40.742967, -73.959204)",POINT (-73.959204 40.742967)
109193,159708,284866766,46,BRONX,04/05/2024,21:40:00,04/05/2024,21:49:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,1008225.0,250623.0,40.854545,-73.913334,"(40.854545, -73.913334)",POINT (-73.913334 40.854545)

In [69]:
dropped_columns=['HADEVELOPT','HOUSING_PSA','Unnamed: 0', 'TRANSIT_DISTRICT','STATION_NAME','PARKS_NM']
crimes=crimes.drop(columns=dropped_columns)

In [82]:
arrest_crime=arrests.merge(crimes, on=['KY_CD','PD_CD'],
                       how='left')
arrest_crime

,ARREST_KEY,ARREST_DATE,PD_CD,PD_DESC_x,KY_CD,OFNS_DESC_x,LAW_CODE,LAW_CAT_CD_x,ARREST_BORO,ARREST_PRECINCT,...,SUSP_SEX,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD_y,Y_COORD_CD_y,Latitude_y,Longitude_y,Lat_Lon,New Georeferenced Column_y
0,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,279876234,01/03/2024,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F,Q,101,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,279939192,01/04/2024,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1201001,F,K,83,...,M,25-44,BLACK,M,1003290.0,241056.0,40.828298,-73.931201,"(40.82829795465734, -73.93120074543612)",POINT (-73.93120074543612 40.82829795465734)
3,280561026,01/15/2024,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 140100A,M,S,121,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,280084387,01/07/2024,223.0,"BURGLARY,RESIDENCE,NIGHT",107.0,BURGLARY,PL 1403002,F,Q,107,...,U,25-44,ASIAN / PACIFIC ISLANDER,M,1039202.0,206381.0,40.732975,-73.801716,"(40.732975, -73.801716)",POINT (-73.801716 40.732975)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128773,288539851,06/14/2024,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,S,120,...,M,UNKNOWN,UNKNOWN,E,990148.0,155255.0,40.592813,-73.978763,"(40.592813307614215, -73.97876328945328)",POINT (-73.97876328945328 40.592813307614215)
128774,288770364,06/19/2024,779.0,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,PL 215510D,F,S,122,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128775,288845960,06/20/2024,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M,M,9,...,M,UNKNOWN,UNKNOWN,E,990148.0,155255.0,40.592813,-73.978763,"(40.592813307614215, -73.97876328945328)",POINT (-73.97876328945328 40.592813307614215)
128776,288345759,06/11/2024,510.0,"CONTROLLED SUBSTANCE, INTENT T",117.0,DANGEROUS DRUGS,PL 2200601,F,Q,103,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128777,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN