In [21]:
import pandas as pd
df = pd.read_csv("data/data.csv")
df = df[df.OFNS_DESC=="GRAND LARCENY"]
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
26,279792819,1,MANHATTAN,01/01/2024,20:00:00,01/01/2024,20:20:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,982972.0,201285.0,40.719160,-74.004609,"(40.71916, -74.004609)",POINT (-74.004609 40.71916)
30,280023723,62,BROOKLYN,01/01/2024,21:00:00,01/03/2024,21:00:00,COMPLETED,(null),NaN,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,982427.0,160876.0,40.608244,-74.006564,"(40.608244, -74.006564)",POINT (-74.006564 40.608244)
52,283413921,6,MANHATTAN,01/01/2024,10:00:00,02/20/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,983045.0,207984.0,40.737546,-74.004348,"(40.737546, -74.004348)",POINT (-74.004348 40.737546)
53,279932191,84,BROOKLYN,01/01/2024,20:00:00,01/01/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,986576.0,195498.0,40.703275,-73.991609,"(40.703275, -73.991609)",POINT (-73.991609 40.703275)
69,279837268,13,MANHATTAN,01/01/2024,19:32:00,01/02/2024,19:52:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,987139.0,209443.0,40.741549,-73.989574,"(40.7415487560939, -73.98957446267117)",POINT (-73.98957446267117 40.7415487560939)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134538,284618935,49,BRONX,03/31/2024,21:30:00,04/01/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1020912.0,253456.0,40.862279,-73.867454,"(40.862279, -73.867454)",POINT (-73.867454 40.862279)
134594,286793682,45,BRONX,03/31/2024,08:00:00,04/11/2024,08:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,M,1032657.0,243043.0,40.833641,-73.825072,"(40.833641, -73.825072)",POINT (-73.825072 40.833641)
134602,284593924,109,QUEENS,03/31/2024,20:00:00,03/31/2024,23:35:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1030097.0,214178.0,40.754428,-73.834519,"(40.754428, -73.834519)",POINT (-73.834519 40.754428)
134617,284582619,109,QUEENS,03/31/2024,12:30:00,03/31/2024,13:00:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1029817.0,225770.0,40.786247,-73.835448,"(40.786247, -73.835448)",POINT (-73.835448 40.786247)
134631,284573381,102,QUEENS,03/31/2024,03:00:00,03/31/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1024705.0,192240.0,40.694239,-73.854110,"(40.694239, -73.85411)",POINT (-73.85411 40.694239)

In [24]:
#sorting by complaint date
df.sort_values(by=["CMPLNT_FR_DT"])

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
26,279792819,1,MANHATTAN,01/01/2024,20:00:00,01/01/2024,20:20:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,982972.0,201285.0,40.719160,-74.004609,"(40.71916, -74.004609)",POINT (-74.004609 40.71916)
933,279780141,104,QUEENS,01/01/2024,05:45:00,01/01/2024,05:50:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,1008918.0,194147.0,40.699531,-73.911037,"(40.699531014673724, -73.91103665226316)",POINT (-73.91103665226316 40.699531014673724)
900,280703481,105,QUEENS,01/01/2024,00:00:00,01/12/2024,00:00:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,1053785.0,196302.0,40.705207,-73.749205,"(40.705207, -73.749205)",POINT (-73.749205 40.705207)
880,288175349,107,QUEENS,01/01/2024,12:00:00,06/08/2024,09:30:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1038995.0,201204.0,40.718768,-73.802506,"(40.718768, -73.802506)",POINT (-73.802506 40.718768)
857,279794272,77,BROOKLYN,01/01/2024,06:00:00,01/01/2024,07:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,994045.0,186194.0,40.677733,-73.964684,"(40.677733, -73.964684)",POINT (-73.964684 40.677733)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133613,284618953,72,BROOKLYN,03/31/2024,10:45:00,03/31/2024,11:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,978256.0,174122.0,40.644599,-74.021599,"(40.644599234312906, -74.02159912481189)",POINT (-74.02159912481189 40.644599234312906)
133610,284611958,24,MANHATTAN,03/31/2024,14:00:00,03/31/2024,14:20:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,M,994137.0,230681.0,40.799837,-73.964287,"(40.799837, -73.964287)",POINT (-73.964287 40.799837)
133598,284579915,94,BROOKLYN,03/31/2024,13:42:00,03/31/2024,13:44:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,M,994779.0,201610.0,40.720045,-73.962015,"(40.720045, -73.962015)",POINT (-73.962015 40.720045)
133683,284611931,18,MANHATTAN,03/31/2024,16:23:00,03/31/2024,16:24:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,989127.0,219109.0,40.768081,-73.982390,"(40.768081, -73.98239)",POINT (-73.98239 40.768081)
134631,284573381,102,QUEENS,03/31/2024,03:00:00,03/31/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1024705.0,192240.0,40.694239,-73.854110,"(40.694239, -73.85411)",POINT (-73.85411 40.694239)