In [1]:
#Issue 1
import pandas as pd
crime=pd.read_csv("data/data.csv")
filtercrime=crime[crime.OFNS_DESC=="FRAUDS"]
sortedcrime=filtercrime.sort_values(by=["VIC_RACE"])
sortedcrime

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
134301,285029553,112,QUEENS,03/31/2024,08:00:00,04/09/2024,12:00:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,1024124.0,202137.0,40.721406,-73.856150,"(40.721406, -73.85615)",POINT (-73.85615 40.721406)
80364,283139690,68,BROOKLYN,02/24/2024,08:00:00,02/24/2024,18:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,981831.0,166075.0,40.622515,-74.008712,"(40.622515, -74.008712)",POINT (-74.008712 40.622515)
81326,282868065,113,QUEENS,02/24/2024,12:30:00,02/24/2024,13:00:00,ATTEMPTED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,1046411.0,192390.0,40.694525,-73.775834,"(40.694525, -73.775834)",POINT (-73.775834 40.694525)
81924,282837314,83,BROOKLYN,02/25/2024,21:00:00,02/25/2024,21:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,F,1001531.0,194940.0,40.701728,-73.937673,"(40.701728, -73.937673)",POINT (-73.937673 40.701728)
84708,283349440,18,MANHATTAN,02/27/2024,16:10:00,02/27/2024,16:11:00,ATTEMPTED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,M,989741.0,215196.0,40.757338,-73.980180,"(40.757338, -73.98018)",POINT (-73.98018 40.757338)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76659,282843470,104,QUEENS,02/21/2024,17:00:00,02/26/2024,07:00:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1009998.0,195752.0,40.703935,-73.907134,"(40.703935, -73.907134)",POINT (-73.907134 40.703935)
77429,283938140,84,BROOKLYN,02/22/2024,12:00:00,02/22/2024,12:30:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,988113.0,193302.0,40.697247,-73.986068,"(40.697247, -73.986068)",POINT (-73.986068 40.697247)
18268,280848480,70,BROOKLYN,01/13/2024,09:00:00,01/16/2024,14:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE HISPANIC,F,994988.0,176665.0,40.651575,-73.961300,"(40.651575, -73.9613)",POINT (-73.9613 40.651575)
73716,286145949,34,MANHATTAN,02/19/2024,09:00:00,02/19/2024,13:00:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,F,1007342.0,256053.0,40.869451,-73.916504,"(40.869451, -73.916504)",POINT (-73.916504 40.869451)
7,280026820,121,STATEN ISLAND,01/01/2024,12:00:00,01/01/2024,12:30:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,940010.0,160890.0,40.608173,-74.159328,"(40.608173, -74.159328)",POINT (-74.159328 40.608173)

In [ ]:
#Issue 2