In [2]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")

In [5]:
new_orleans_games = pd.read_sql_query("SELECT game_id, team_abbreviation_home, pts_home, team_abbreviation_away, pts_away, season_id, game_date FROM game WHERE team_abbreviation_home='NOP' OR team_abbreviation_away='NOP' ORDER BY game_date DESC LIMIT 10", con)
new_orleans_games

,game_id,team_abbreviation_home,pts_home,team_abbreviation_away,pts_away,season_id,game_date
0,0022201225,MIN,113.0,NOP,108.0,22022,2023-04-09 00:00:00
1,0022201209,NOP,113.0,NYK,105.0,22022,2023-04-07 00:00:00
2,0022201194,NOP,138.0,MEM,131.0,22022,2023-04-05 00:00:00
3,0022201185,NOP,103.0,SAC,121.0,22022,2023-04-04 00:00:00
4,0022201162,NOP,122.0,LAC,114.0,22022,2023-04-01 00:00:00
5,0022201147,DEN,88.0,NOP,107.0,22022,2023-03-30 00:00:00
6,0022201135,GSW,120.0,NOP,109.0,22022,2023-03-28 00:00:00
7,0022201127,POR,90.0,NOP,124.0,22022,2023-03-27 00:00:00
8,0022201112,LAC,110.0,NOP,131.0,22022,2023-03-25 00:00:00
9,0022201095,NOP,115.0,CHA,96.0,22022,2023-03-23 00:00:00

In [29]:
nop_home_avg = pd.read_sql_query("SELECT team_name_home, ROUND(AVG(pts_home), 2) AS avg_home_pts FROM game WHERE team_name_home='New Orleans Pelicans' AND season_id=22022", con)
nop_home_avg

         team_name_home  avg_home_pts
0  New Orleans Pelicans        114.93

In [30]:
nop_away_avg = pd.read_sql_query("SELECT team_name_away, ROUND(AVG(pts_away), 2) AS avg_away_pts FROM game WHERE team_name_away='New Orleans Pelicans' AND season_id=22022", con)
nop_away_avg

         team_name_away  avg_away_pts
0  New Orleans Pelicans         113.8

In [37]:
from statistics import mean 
print("Overall Average Score: " + str(round(mean([nop_home_avg["avg_home_pts"][0], nop_away_avg["avg_away_pts"][0]]), 2)))

Overall Average Score: 114.36

In [10]:
officials_game = pd.read_sql_query("SELECT game_id, first_name, last_name, jersey_num FROM officials WHERE game_id='0022201194'", con)
officials_game

      game_id first_name last_name jersey_num
0  0022201194      Scott    Foster       48
1  0022201194     Dedric    Taylor       21
2  0022201194    Brandon    Schwab       86