In [11]:
import pandas as pd
crime=pd.read_csv("data/data.csv")
filtercrime=crime[crime.OFNS_DESC=="FRAUDS"]
filtercrime.sort_values(by=["VIC_RACE"])
filtercrime

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
7,280026820,121,STATEN ISLAND,01/01/2024,12:00:00,01/01/2024,12:30:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,940010.0,160890.0,40.608173,-74.159328,"(40.608173, -74.159328)",POINT (-74.159328 40.608173)
12,279807853,121,STATEN ISLAND,01/01/2024,02:31:00,01/01/2024,04:31:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,F,942353.0,167397.0,40.626045,-74.150930,"(40.626045, -74.15093)",POINT (-74.15093 40.626045)
25,284199083,121,STATEN ISLAND,01/01/2024,00:00:00,03/22/2024,20:00:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,946334.0,163186.0,40.614504,-74.136566,"(40.614504, -74.136566)",POINT (-74.136566 40.614504)
29,279805531,122,STATEN ISLAND,01/01/2024,20:00:00,01/01/2024,20:15:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,F,959725.0,148193.0,40.573399,-74.088277,"(40.573399, -74.088277)",POINT (-74.088277 40.573399)
303,282568558,18,MANHATTAN,01/01/2024,09:00:00,01/01/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,M,990504.0,214176.0,40.754539,-73.977424,"(40.754539, -73.977424)",POINT (-73.977424 40.754539)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133797,284708122,94,BROOKLYN,03/31/2024,13:00:00,03/31/2024,13:30:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1000068.0,202274.0,40.721858,-73.942934,"(40.7218579393697, -73.94293442824548)",POINT (-73.94293442824548 40.7218579393697)
133963,284587508,81,BROOKLYN,03/31/2024,20:15:00,03/31/2024,20:17:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1001586.0,189839.0,40.687724,-73.937489,"(40.687724, -73.937489)",POINT (-73.937489 40.687724)
134032,284838360,50,BRONX,03/31/2024,23:00:00,03/31/2024,23:30:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,M,1007640.0,259512.0,40.878944,-73.915415,"(40.878944, -73.915415)",POINT (-73.915415 40.878944)
134211,284573383,104,QUEENS,03/31/2024,08:33:00,03/31/2024,08:48:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1012926.0,196423.0,40.705766,-73.896572,"(40.705766016116534, -73.89657241269002)",POINT (-73.89657241269002 40.705766016116534)
134301,285029553,112,QUEENS,03/31/2024,08:00:00,04/09/2024,12:00:00,COMPLETED,(null),NaN,...,NaN,45-64,ASIAN / PACIFIC ISLANDER,F,1024124.0,202137.0,40.721406,-73.856150,"(40.721406, -73.85615)",POINT (-73.85615 40.721406)