In [5]:
import pandas as pd

df = pd.read_csv('data/data.csv')
# df_m = df[df['BORO_NM'] == 'MANHATTAN']
# df_m.head()
df.sort_values(by='VIC_RACE')

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
6103,280014356,109,QUEENS,01/04/2024,16:19:00,01/04/2024,16:25:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,AMERICAN INDIAN/ALASKAN NATIVE,F,1035476.0,216355.0,40.760373,-73.815088,"(40.76037252016161, -73.81508830013061)",POINT (-73.81508830013061 40.76037252016161)
7095,280349993,105,QUEENS,01/05/2024,14:25:00,01/05/2024,14:40:00,COMPLETED,(null),NaN,...,NaN,45-64,AMERICAN INDIAN/ALASKAN NATIVE,F,1057966.0,208210.0,40.737860,-73.733995,"(40.73786, -73.733995)",POINT (-73.733995 40.73786)
131971,284533537,113,QUEENS,03/29/2024,19:00:00,03/29/2024,19:10:00,COMPLETED,(null),NaN,...,NaN,25-44,AMERICAN INDIAN/ALASKAN NATIVE,M,1042999.0,186788.0,40.679172,-73.788190,"(40.679172, -73.78819)",POINT (-73.78819 40.679172)
125520,284581302,43,BRONX,03/25/2024,00:00:00,03/27/2024,23:59:00,COMPLETED,(null),NaN,...,NaN,25-44,AMERICAN INDIAN/ALASKAN NATIVE,M,1023259.0,242554.0,40.832346,-73.859036,"(40.832346, -73.859036)",POINT (-73.859036 40.832346)
4998,280043929,68,BROOKLYN,01/04/2024,15:20:00,01/04/2024,15:30:00,COMPLETED,(null),NaN,...,NaN,<18,AMERICAN INDIAN/ALASKAN NATIVE,F,976975.0,170735.0,40.635303,-74.026210,"(40.635303, -74.02621)",POINT (-74.02621 40.635303)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44444,281413034,17,MANHATTAN,01/31/2024,06:00:00,01/31/2024,06:05:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,992919.0,215671.0,40.758640,-73.968707,"(40.75864, -73.968707)",POINT (-73.968707 40.75864)
18494,280488314,48,BRONX,01/13/2024,18:00:00,01/14/2024,08:30:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,M,1015682.0,249793.0,40.852243,-73.886383,"(40.85224304785559, -73.88638250768042)",POINT (-73.88638250768042 40.85224304785559)
21421,280558902,103,QUEENS,01/15/2024,18:00:00,01/15/2024,18:46:00,COMPLETED,(null),NaN,...,20.0,45-64,WHITE HISPANIC,F,1039726.0,195270.0,40.702474,-73.799921,"(40.70247387178277, -73.79992086969553)",POINT (-73.79992086969553 40.70247387178277)
27789,280837063,68,BROOKLYN,01/20/2024,01:10:00,01/20/2024,01:17:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,M,983572.0,167017.0,40.625101,-74.002439,"(40.625101, -74.002439)",POINT (-74.002439 40.625101)
119950,284171711,52,BRONX,03/21/2024,07:20:00,03/22/2024,07:40:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,1014764.0,258803.0,40.876976,-73.889660,"(40.87697596892483, -73.88965978148143)",POINT (-73.88965978148143 40.87697596892483)

In [6]:
df_sorted_by_vic_race.sort_values(by='VIC_AGE_GROUP')

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
89714,283167221,63,BROOKLYN,03/01/2024,09:10:00,03/01/2024,09:20:00,COMPLETED,(null),NaN,...,NaN,-1,BLACK,M,1006941.0,164982.0,40.619485,-73.918265,"(40.61948484042452, -73.91826469741412)",POINT (-73.91826469741412 40.61948484042452)
110304,283835999,14,MANHATTAN,03/15/2024,17:30:00,03/15/2024,23:30:00,COMPLETED,(null),NaN,...,NaN,-28,WHITE,F,988340.0,212668.0,40.750403,-73.985236,"(40.750403, -73.985236)",POINT (-73.985236 40.750403)
58598,281956306,1,MANHATTAN,02/09/2024,13:09:00,02/09/2024,13:42:00,COMPLETED,(null),NaN,...,NaN,-951,ASIAN / PACIFIC ISLANDER,M,982081.0,197278.0,40.708161,-74.007822,"(40.708161, -74.007822)",POINT (-74.007822 40.708161)
88876,283012318,123,STATEN ISLAND,03/01/2024,00:20:00,03/01/2024,00:25:00,COMPLETED,(null),NaN,...,NaN,-958,WHITE,M,929816.0,126687.0,40.514237,-74.195766,"(40.514237, -74.195766)",POINT (-74.195766 40.514237)
34328,281021181,23,MANHATTAN,01/24/2024,06:20:00,01/24/2024,06:35:00,COMPLETED,(null),NaN,...,NaN,1023,BLACK,M,997461.0,227023.0,40.789794,-73.952288,"(40.789794, -73.952288)",POINT (-73.952288 40.789794)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28504,280848997,105,QUEENS,01/20/2024,16:30:00,01/20/2024,20:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,F,1063662.0,211288.0,40.746258,-73.713405,"(40.746258, -73.713405)",POINT (-73.713405 40.746258)
49066,281572322,75,BROOKLYN,02/02/2024,14:11:00,02/02/2024,14:21:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1014872.0,185371.0,40.675427,-73.889603,"(40.675427, -73.889603)",POINT (-73.889603 40.675427)
28506,280848966,44,BRONX,01/20/2024,22:13:00,01/20/2024,22:19:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,1003363.0,238988.0,40.822622,-73.930942,"(40.822622, -73.930942)",POINT (-73.930942 40.822622)
49051,281666330,75,BROOKLYN,02/02/2024,19:00:00,02/03/2024,12:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,M,1016626.0,187784.0,40.682043,-73.883268,"(40.682043, -73.883268)",POINT (-73.883268 40.682043)
113562,283939978,76,BROOKLYN,03/17/2024,10:30:00,03/17/2024,10:33:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,985878.0,187500.0,40.681323,-73.994128,"(40.681323, -73.994128)",POINT (-73.994128 40.681323)

In [7]:
crime = df[df['VIC_RACE'] == 'WHITE']
crime.sort_values(by='VIC_AGE_GROUP')

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
110304,283835999,14,MANHATTAN,03/15/2024,17:30:00,03/15/2024,23:30:00,COMPLETED,(null),NaN,...,NaN,-28,WHITE,F,988340.0,212668.0,40.750403,-73.985236,"(40.750403, -73.985236)",POINT (-73.985236 40.750403)
88876,283012318,123,STATEN ISLAND,03/01/2024,00:20:00,03/01/2024,00:25:00,COMPLETED,(null),NaN,...,NaN,-958,WHITE,M,929816.0,126687.0,40.514237,-74.195766,"(40.514237, -74.195766)",POINT (-74.195766 40.514237)
69186,282404802,14,MANHATTAN,02/16/2024,19:10:00,02/16/2024,19:11:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,M,987211.0,214471.0,40.755350,-73.989309,"(40.75535, -73.989309)",POINT (-73.989309 40.75535)
116376,283971686,121,STATEN ISLAND,03/19/2024,10:13:00,03/19/2024,10:30:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,941703.0,161145.0,40.608882,-74.153234,"(40.608882, -74.153234)",POINT (-74.153234 40.608882)
116380,283965547,1,MANHATTAN,03/19/2024,08:54:00,03/19/2024,08:55:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE,F,982381.0,201750.0,40.720442,-74.006744,"(40.7204418884676, -74.0067439741913)",POINT (-74.0067439741913 40.7204418884676)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59730,281978988,50,BRONX,02/09/2024,21:05:00,02/09/2024,21:15:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE,F,1013964.0,261381.0,40.884055,-73.892538,"(40.884055, -73.892538)",POINT (-73.892538 40.884055)
59638,281959171,107,QUEENS,02/09/2024,14:33:00,02/09/2024,14:34:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE,D,1043470.0,208961.0,40.740029,-73.786296,"(40.740029, -73.786296)",POINT (-73.786296 40.740029)
37935,284773741,105,QUEENS,01/26/2024,18:20:00,01/26/2024,20:33:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE,M,1062527.0,215953.0,40.759073,-73.717445,"(40.759073, -73.717445)",POINT (-73.717445 40.759073)
106980,284043189,14,MANHATTAN,03/13/2024,08:50:00,03/19/2024,15:37:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE,M,988545.0,214962.0,40.756699,-73.984494,"(40.756699, -73.984494)",POINT (-73.984494 40.756699)
54976,281767746,42,BRONX,02/06/2024,09:47:00,02/06/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,WHITE,M,1010129.0,239569.0,40.824201,-73.906494,"(40.824201, -73.906494)",POINT (-73.906494 40.824201)

In [9]:
import pandas as pd

arrests = pd.read_csv('data/arrests.csv')
crimes = pd.read_csv('data/crimes.csv')

arrests['Latitude'] = arrests['Latitude'].round(4)
arrests['Longitude'] = arrests['Longitude'].round(4)
crimes['Latitude'] = crimes['Latitude'].round(4)
crimes['Longitude'] = crimes['Longitude'].round(4)

output = pd.merge(arrests, crimes, on=['Latitude', 'Longitude'], how='inner')

   ARREST_KEY ARREST_DATE  PD_CD_x PD_DESC_x  KY_CD_x OFNS_DESC_x    LAW_CODE  \
0   279884335  01/03/2024    153.0    RAPE 3    104.0        RAPE  PL 1302503
1   279884335  01/03/2024    153.0    RAPE 3    104.0        RAPE  PL 1302503
2   279884335  01/03/2024    153.0    RAPE 3    104.0        RAPE  PL 1302503
3   279884335  01/03/2024    153.0    RAPE 3    104.0        RAPE  PL 1302503
4   279884335  01/03/2024    153.0    RAPE 3    104.0        RAPE  PL 1302503

  LAW_CAT_CD_x ARREST_BORO  ARREST_PRECINCT  ...  SUSP_RACE SUSP_SEX  \
0            F           K               77  ...      BLACK        M
1            F           K               77  ...    UNKNOWN        F
2            F           K               77  ...      BLACK        U
3            F           K               77  ...      BLACK        M
4            F           K               77  ...      BLACK        M

  TRANSIT_DISTRICT VIC_AGE_GROUP  VIC_RACE  VIC_SEX  X_COORD_CD_y  \
0              NaN         25-44     BLACK        F     1003509.0
1              NaN           65+     WHITE        F     1003509.0
2              NaN       UNKNOWN   UNKNOWN        E     1003509.0
3              NaN           <18     BLACK        F     1003509.0
4              NaN           65+     BLACK        F     1003509.0

   Y_COORD_CD_y                                Lat_Lon  \
0      185018.0  (40.6744956865259, -73.9305713255961)
1      185018.0  (40.6744956865259, -73.9305713255961)
2      185018.0  (40.6744956865259, -73.9305713255961)
3      185018.0  (40.6744956865259, -73.9305713255961)
4      185018.0  (40.6744956865259, -73.9305713255961)

                   New Georeferenced Column_y
0  POINT (-73.9305713255961 40.6744956865259)
1  POINT (-73.9305713255961 40.6744956865259)
2  POINT (-73.9305713255961 40.6744956865259)
3  POINT (-73.9305713255961 40.6744956865259)
4  POINT (-73.9305713255961 40.6744956865259)

[5 rows x 54 columns]

In [24]:
import pandas as pd

arrests = pd.read_csv('data/arrests.csv')
crimes = pd.read_csv('data/crimes.csv')

crimes = crimes.rename(columns={
    'SUSP_RACE': 'PERP_RACE',
    'SUSP_SEX': 'PERP_SEX',
    'SUSP_AGE_GROUP': 'AGE_GROUP'
})

keys = ['PERP_RACE', 'PERP_SEX', 'AGE_GROUP', 'X_COORD_CD', 'Y_COORD_CD']
crime_fields = [
    'CMPLNT_FR_DT', 'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 
    'CRM_ATPT_CPTD_CD', 'LAW_CAT_CD', 'OFNS_DESC', 'PARKS_NM', 
    'PATROL_BORO', 'PD_CD', 'PD_DESC', 'PREM_TYP_DESC'
]

output = pd.merge(
    arrests, 
    crimes[keys + crime_fields], 
    on=merge_keys,  
    how='inner' 
)

   ARREST_KEY ARREST_DATE  PD_CD_x PD_DESC_x  KY_CD OFNS_DESC_x    LAW_CODE  \
0   279884335  01/03/2024    153.0    RAPE 3  104.0        RAPE  PL 1302503
1   279884335  01/03/2024    153.0    RAPE 3  104.0        RAPE  PL 1302503
2   279884335  01/03/2024    153.0    RAPE 3  104.0        RAPE  PL 1302503
3   279884335  01/03/2024    153.0    RAPE 3  104.0        RAPE  PL 1302503
4   279884335  01/03/2024    153.0    RAPE 3  104.0        RAPE  PL 1302503

  LAW_CAT_CD_x ARREST_BORO  ARREST_PRECINCT  ...  CMPLNT_TO_DT CMPLNT_TO_TM  \
0            F           K               77  ...    12/31/2005     12:00:00
1            F           K               77  ...    01/19/2024     14:00:00
2            F           K               77  ...    04/23/2024     11:26:00
3            F           K               77  ...           NaN       (null)
4            F           K               77  ...    11/30/2021     23:59:00

  CRM_ATPT_CPTD_CD LAW_CAT_CD_y  OFNS_DESC_y  PARKS_NM  \
0        COMPLETED       FELONY         RAPE    (null)
1        COMPLETED  MISDEMEANOR   SEX CRIMES    (null)
2        COMPLETED  MISDEMEANOR   SEX CRIMES    (null)
3        COMPLETED  MISDEMEANOR   SEX CRIMES    (null)
4        COMPLETED  MISDEMEANOR   SEX CRIMES    (null)

               PATROL_BORO  PD_CD_y         PD_DESC_y           PREM_TYP_DESC
0  PATROL BORO BKLYN NORTH    157.0            RAPE 1         RESIDENCE-HOUSE
1  PATROL BORO BKLYN NORTH    175.0  SEXUAL ABUSE 3,2  RESIDENCE - APT. HOUSE
2  PATROL BORO BKLYN NORTH    175.0  SEXUAL ABUSE 3,2  RESIDENCE - APT. HOUSE
3  PATROL BORO BKLYN NORTH    175.0  SEXUAL ABUSE 3,2  RESIDENCE - APT. HOUSE
4  PATROL BORO BKLYN NORTH    175.0  SEXUAL ABUSE 3,2  RESIDENCE - APT. HOUSE

[5 rows x 31 columns]