In [4]:
import pandas as pd

pd.read_csv('data/data.csv')

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,279815523,72,BROOKLYN,01/01/2024,07:00:00,01/02/2024,09:00:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,983561.0,173911.0,40.644023,-74.002480,"(40.644023, -74.00248)",POINT (-74.00248 40.644023)
1,279780204,122,STATEN ISLAND,01/01/2024,02:20:00,01/01/2024,02:25:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE,M,941450.0,133962.0,40.534267,-74.153973,"(40.534266857235, -74.15397345766736)",POINT (-74.15397345766736 40.534266857235)
2,279780194,120,STATEN ISLAND,01/01/2024,01:40:00,01/01/2024,02:25:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,949487.0,170512.0,40.634626,-74.125246,"(40.634626, -74.125246)",POINT (-74.125246 40.634626)
3,279780059,66,BROOKLYN,01/01/2024,00:02:00,01/01/2024,10:00:00,COMPLETED,(null),NaN,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,982823.0,170508.0,40.634682,-74.005138,"(40.634682, -74.005138)",POINT (-74.005138 40.634682)
4,280014366,120,STATEN ISLAND,01/01/2024,22:50:00,01/01/2024,22:55:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,958112.0,173521.0,40.642915,-74.094183,"(40.642915, -74.094183)",POINT (-74.094183 40.642915)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134634,284588555,111,QUEENS,03/31/2024,18:40:00,03/31/2024,18:50:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,1052994.0,210216.0,40.743405,-73.751913,"(40.743405, -73.751913)",POINT (-73.751913 40.743405)
134635,284588545,101,QUEENS,03/31/2024,22:35:00,03/31/2024,22:38:00,COMPLETED,(null),NaN,...,23.0,UNKNOWN,UNKNOWN,E,1052559.0,159711.0,40.604783,-73.753998,"(40.60478281508588, -73.75399789247773)",POINT (-73.75399789247773 40.60478281508588)
134636,284640813,101,QUEENS,03/31/2024,20:20:00,03/31/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1048993.0,158898.0,40.602580,-73.766846,"(40.60258, -73.766846)",POINT (-73.766846 40.60258)
134637,284721086,105,QUEENS,03/31/2024,00:30:00,03/31/2024,00:48:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK HISPANIC,M,1056470.0,181214.0,40.663775,-73.739681,"(40.663775, -73.739681)",POINT (-73.739681 40.663775)
134638,284584388,103,QUEENS,03/31/2024,17:50:00,03/31/2024,18:19:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1048515.0,198605.0,40.711570,-73.768190,"(40.71157, -73.76819)",POINT (-73.76819 40.71157)