In [1]:
import pandas as pd

In [2]:
# Load the dataset
df = pd.read_csv("data/crimes.csv")

# Filter for the specific crime "LARCENY, PETIT OF LICENSE PLATE"
df_filtered = df[df['PD_DESC'] == "LARCENY,PETIT OF LICENSE PLATE"]

# Sort the filtered dataset by a related field, for example, 'CMPLNT_FR_DT' (complaint start date)
df_sorted = df_filtered.sort_values(by='CMPLNT_FR_DT')

# Display the sorted dataframe
df_sorted

,Unnamed: 0.1,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
47259,92888,1008,287696821,123,STATEN ISLAND,01/01/2021,13:00:00,05/30/2024,13:00:00,COMPLETED,...,NaN,25-44,WHITE,M,926442.0,130701.0,40.525233,-74.207935,"(40.525233, -74.207935)",POINT (-74.207935 40.525233)
59080,64568,1987,280495315,121,STATEN ISLAND,01/01/2023,07:00:00,01/14/2024,07:00:00,COMPLETED,...,NaN,25-44,BLACK,M,938890.0,170111.0,40.633478,-74.163424,"(40.633478, -74.163424)",POINT (-74.163424 40.633478)
75348,61040,109404,280733163,88,BROOKLYN,01/01/2024,12:00:00,01/11/2024,12:00:00,COMPLETED,...,NaN,25-44,WHITE,F,994772.0,191786.0,40.693080,-73.962055,"(40.69308, -73.962055)",POINT (-73.962055 40.69308)
93118,18855,151817,283951102,67,BROOKLYN,01/01/2024,13:30:00,01/01/2024,13:30:00,COMPLETED,...,NaN,25-44,BLACK HISPANIC,M,1003083.0,172738.0,40.640783,-73.932139,"(40.640783, -73.932139)",POINT (-73.932139 40.640783)
62998,93379,236484,285097197,111,QUEENS,01/01/2024,07:00:00,04/09/2024,17:00:00,COMPLETED,...,NaN,45-64,BLACK,M,1042628.0,217414.0,40.763235,-73.789261,"(40.763235, -73.789261)",POINT (-73.789261 40.763235)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54181,47471,124736,279909070,61,BROOKLYN,12/31/2023,08:00:00,12/31/2023,08:50:00,COMPLETED,...,NaN,45-64,WHITE,M,997145.0,152014.0,40.583913,-73.953573,"(40.583913, -73.953573)",POINT (-73.953573 40.583913)
49852,33088,240771,279878834,107,QUEENS,12/31/2023,21:00:00,01/01/2024,08:00:00,COMPLETED,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1042906.0,199293.0,40.713497,-73.788415,"(40.713497, -73.788415)",POINT (-73.788415 40.713497)
48811,93985,248807,279786400,113,QUEENS,12/31/2023,15:35:00,12/31/2023,17:00:00,COMPLETED,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,1050106.0,184148.0,40.671878,-73.762592,"(40.671878, -73.762592)",POINT (-73.762592 40.671878)
49265,70535,108371,279815487,24,MANHATTAN,12/31/2023,22:30:00,12/31/2023,22:45:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,M,995113.0,231061.0,40.800879,-73.960761,"(40.800879, -73.960761)",POINT (-73.960761 40.800879)
3494,57211,196190,280000830,115,QUEENS,12/31/2023,15:00:00,01/04/2024,17:30:00,COMPLETED,...,NaN,18-24,ASIAN / PACIFIC ISLANDER,M,1012769.0,216895.0,40.761957,-73.897052,"(40.76195708486165, -73.8970518969934)",POINT (-73.8970518969934 40.76195708486165)

In [20]:
#Issue 2
import pandas as pd
arrests = pd.read_csv("data/arrests.csv")
crimes = pd.read_csv("data/crimes.csv")
arrests_crimes = arrests.merge (crimes, left_on=["PD_CD", "AGE_GROUP", "PERP_RACE"], right_on=["PD_CD", "SUSP_AGE_GROUP", "SUSP_RACE"], how="left")

In [21]:
print (arrests_crimes)

          ARREST_KEY ARREST_DATE  PD_CD                   PD_DESC_x  KY_CD_x  \
0          279884335  01/03/2024  153.0                      RAPE 3    104.0
1          279884335  01/03/2024  153.0                      RAPE 3    104.0
2          279884335  01/03/2024  153.0                      RAPE 3    104.0
3          279876234  01/03/2024  105.0           STRANGULATION 1ST    106.0
4          279876234  01/03/2024  105.0           STRANGULATION 1ST    106.0
...              ...         ...    ...                         ...      ...
21367659   288578223  06/15/2024  792.0  CRIMINAL POSSESSION WEAPON    118.0
21367660   288578223  06/15/2024  792.0  CRIMINAL POSSESSION WEAPON    118.0
21367661   288578223  06/15/2024  792.0  CRIMINAL POSSESSION WEAPON    118.0
21367662   288578223  06/15/2024  792.0  CRIMINAL POSSESSION WEAPON    118.0
21367663   288578223  06/15/2024  792.0  CRIMINAL POSSESSION WEAPON    118.0

                OFNS_DESC_x    LAW_CODE LAW_CAT_CD_x ARREST_BORO  \
0                      RAPE  PL 1302503            F           K
1                      RAPE  PL 1302503            F           K
2                      RAPE  PL 1302503            F           K
3            FELONY ASSAULT  PL 1211200            F           Q
4            FELONY ASSAULT  PL 1211200            F           Q
...                     ...         ...          ...         ...
21367659  DANGEROUS WEAPONS  PL 265031B            F           B
21367660  DANGEROUS WEAPONS  PL 265031B            F           B
21367661  DANGEROUS WEAPONS  PL 265031B            F           B
21367662  DANGEROUS WEAPONS  PL 265031B            F           B
21367663  DANGEROUS WEAPONS  PL 265031B            F           B

          ARREST_PRECINCT  ...  TRANSIT_DISTRICT VIC_AGE_GROUP VIC_RACE  \
0                      77  ...               NaN         25-44  UNKNOWN
1                      77  ...               NaN         45-64  UNKNOWN
2                      77  ...               NaN         25-44    BLACK
3                     101  ...               NaN         18-24    BLACK
4                     101  ...               NaN         18-24    BLACK
...                   ...  ...               ...           ...      ...
21367659               47  ...               NaN       UNKNOWN  UNKNOWN
21367660               47  ...              33.0       UNKNOWN  UNKNOWN
21367661               47  ...               NaN       UNKNOWN  UNKNOWN
21367662               47  ...               NaN       UNKNOWN  UNKNOWN
21367663               47  ...               NaN       UNKNOWN  UNKNOWN

         VIC_SEX  X_COORD_CD_y  Y_COORD_CD_y  Latitude_y  Longitude_y  \
0              F     1053639.0      158980.0   40.602776   -73.750117
1              F     1026480.0      262584.0   40.887314   -73.847272
2              F     1041717.0      197008.0   40.707240   -73.792727
3              F      997842.0      170051.0   40.633420   -73.951029
4              M      994243.0      172961.0   40.641410   -73.963992
...          ...           ...           ...         ...          ...
21367659       E      997937.0      227357.0   40.790710   -73.950569
21367660       E     1010719.0      186857.0   40.679516   -73.904570
21367661       E      996271.0      151075.0   40.581335   -73.956722
21367662       E      998231.0      228413.0   40.793606   -73.949507
21367663       E     1017314.0      184900.0   40.674123   -73.880803

                                           Lat_Lon  \
0            (40.6027762300781, -73.7501173648331)
1            (40.8873136344706, -73.8472717577564)
2            (40.7072398161698, -73.7927267255908)
3                           (40.63342, -73.951029)
4                           (40.64141, -73.963992)
...                                            ...
21367659                    (40.79071, -73.950569)
21367660  (40.679516449878804, -73.90457012340953)
21367661                   (40.581335, -73.956722)
21367662   (40.79360589605957, -73.94950729604537)
21367663   (40.67412275447886, -73.88080250056282)

                             New Georeferenced Column_y
0            POINT (-73.7501173648331 40.6027762300781)
1            POINT (-73.8472717577564 40.8873136344706)
2            POINT (-73.7927267255908 40.7072398161698)
3                           POINT (-73.951029 40.63342)
4                           POINT (-73.963992 40.64141)
...                                                 ...
21367659                    POINT (-73.950569 40.79071)
21367660  POINT (-73.90457012340953 40.679516449878804)
21367661                   POINT (-73.956722 40.581335)
21367662   POINT (-73.94950729604537 40.79360589605957)
21367663   POINT (-73.88080250056282 40.67412275447886)

[21367664 rows x 56 columns]