In [7]:
import pandas as pd
df = pd.read_csv("data/data.csv")
df = df[df["PD_DESC"] == "ASSAULT 3"]
df = sort_values("
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
179,279769538,121,STATEN ISLAND,01/01/2024,05:00:00,01/01/2024,05:20:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE HISPANIC,M,946302.0,171047.0,40.636082,-74.136723,"(40.636082, -74.136723)",POINT (-74.136723 40.636082)
241,279794295,120,STATEN ISLAND,01/01/2024,21:30:00,01/01/2024,21:59:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,961577.0,163519.0,40.615470,-74.081663,"(40.61547, -74.081663)",POINT (-74.081663 40.61547)
296,279818436,120,STATEN ISLAND,01/01/2024,21:25:00,01/01/2024,21:33:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,960348.0,171964.0,40.638647,-74.086121,"(40.638647, -74.086121)",POINT (-74.086121 40.638647)
311,279786350,1,MANHATTAN,01/01/2024,16:00:00,01/01/2024,17:01:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,981615.0,196630.0,40.706380,-74.009504,"(40.706380256425916, -74.00950391062128)",POINT (-74.00950391062128 40.706380256425916)
319,279767627,72,BROOKLYN,01/01/2024,04:20:00,01/01/2024,04:30:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,980122.0,175142.0,40.647400,-74.014873,"(40.6474, -74.014873)",POINT (-74.014873 40.6474)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134628,284562248,109,QUEENS,03/31/2024,00:52:00,03/31/2024,02:24:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1033369.0,214646.0,40.755695,-73.822705,"(40.755695, -73.822705)",POINT (-73.822705 40.755695)
134633,284561552,103,QUEENS,03/31/2024,00:10:00,03/31/2024,00:14:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,1046659.0,197817.0,40.709419,-73.774893,"(40.70941858245747, -73.77489288619047)",POINT (-73.77489288619047 40.70941858245747)
134634,284588555,111,QUEENS,03/31/2024,18:40:00,03/31/2024,18:50:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE,F,1052994.0,210216.0,40.743405,-73.751913,"(40.743405, -73.751913)",POINT (-73.751913 40.743405)
134636,284640813,101,QUEENS,03/31/2024,20:20:00,03/31/2024,20:30:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1048993.0,158898.0,40.602580,-73.766846,"(40.60258, -73.766846)",POINT (-73.766846 40.60258)
134638,284584388,103,QUEENS,03/31/2024,17:50:00,03/31/2024,18:19:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1048515.0,198605.0,40.711570,-73.768190,"(40.71157, -73.76819)",POINT (-73.76819 40.71157)