In [18]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
query_1 = "SELECT id FROM team where full_name='Washington Wizards'"
df = pd.read_sql_query(query_1, con)

get_recent_season = "SELECT * FROM game ORDER BY game_date"
df = pd.read_sql_query(get_recent_season, con)
mostest_recent_season = df.iloc[0]["season_id"]

In [15]:
pd.read_sql_query("SELECT AVG (pts_home) FROM game WHERE team_id_home='1610612764' AND season_id='22022'", con)

   AVG (pts_home)
0      114.243902

In [19]:
pd.read_sql_query("SELECT AVG (pts_away) FROM game WHERE team_id_away='1610612763' AND season_id='22022'", con)

   AVG (pts_away)
0       114.04878