In [9]:
import pandas as pd
df = pd.read_csv("data/data.csv")
df = df[df["PD_DESC"] == "ASSAULT 3"]
df = df.sort_values("CMPLNT_FR_DT", ascending =False)
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
134638,284584388,103,QUEENS,03/31/2024,17:50:00,03/31/2024,18:19:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,F,1048515.0,198605.0,40.711570,-73.768190,"(40.71157, -73.76819)",POINT (-73.76819 40.71157)
134362,284571760,114,QUEENS,03/31/2024,07:45:00,03/31/2024,07:58:00,COMPLETED,(null),NaN,...,NaN,45-64,WHITE HISPANIC,M,1004663.0,216472.0,40.760820,-73.926313,"(40.76082, -73.926313)",POINT (-73.926313 40.76082)
134109,284785768,71,BROOKLYN,03/31/2024,12:40:00,03/31/2024,12:48:00,COMPLETED,(null),NaN,...,NaN,25-44,AMERICAN INDIAN/ALASKAN NATIVE,M,996148.0,181563.0,40.665018,-73.957111,"(40.665018, -73.957111)",POINT (-73.957111 40.665018)
134110,284570403,30,MANHATTAN,03/31/2024,01:00:00,03/31/2024,01:03:00,COMPLETED,(null),NaN,...,NaN,45-64,BLACK,M,997272.0,237270.0,40.817918,-73.952953,"(40.817918, -73.952953)",POINT (-73.952953 40.817918)
134127,284573350,26,MANHATTAN,03/31/2024,09:10:00,03/31/2024,09:15:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,M,997225.0,235366.0,40.812692,-73.953127,"(40.812691504461206, -73.95312705076961)",POINT (-73.95312705076961 40.812691504461206)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1416,279792845,52,BRONX,01/01/2024,20:20:00,01/01/2024,20:25:00,COMPLETED,(null),NaN,...,NaN,25-44,WHITE HISPANIC,F,1014270.0,255250.0,40.867228,-73.891462,"(40.867228, -73.891462)",POINT (-73.891462 40.867228)
1413,279813114,75,BROOKLYN,01/01/2024,08:00:00,01/01/2024,08:15:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,F,1012722.0,186192.0,40.677685,-73.897351,"(40.677685, -73.897351)",POINT (-73.897351 40.677685)
1411,279792849,73,BROOKLYN,01/01/2024,15:40:00,01/01/2024,16:00:00,COMPLETED,(null),NaN,...,NaN,25-44,BLACK,M,1010782.0,185568.0,40.675980,-73.904348,"(40.67598, -73.904348)",POINT (-73.904348 40.67598)
1410,279794541,69,BROOKLYN,01/01/2024,04:20:00,01/01/2024,04:26:00,COMPLETED,(null),NaN,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1011203.0,174514.0,40.645639,-73.902874,"(40.645639, -73.902874)",POINT (-73.902874 40.645639)
179,279769538,121,STATEN ISLAND,01/01/2024,05:00:00,01/01/2024,05:20:00,COMPLETED,(null),NaN,...,NaN,18-24,WHITE HISPANIC,M,946302.0,171047.0,40.636082,-74.136723,"(40.636082, -74.136723)",POINT (-74.136723 40.636082)