In [1]:
import pandas as pd
arrests = pd.read_csv("data/arrests.csv")
crimes = pd.read_csv("data/crimes.csv")
print(crimes.columns)

Index(['Unnamed: 0', 'CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM', 'CMPLNT_FR_DT',
       'CMPLNT_FR_TM', 'CMPLNT_TO_DT', 'CMPLNT_TO_TM', 'CRM_ATPT_CPTD_CD',
       'HADEVELOPT', 'HOUSING_PSA', 'JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD',
       'LAW_CAT_CD', 'LOC_OF_OCCUR_DESC', 'OFNS_DESC', 'PARKS_NM',
       'PATROL_BORO', 'PD_CD', 'PD_DESC', 'PREM_TYP_DESC', 'RPT_DT',
       'STATION_NAME', 'SUSP_AGE_GROUP', 'SUSP_RACE', 'SUSP_SEX',
       'TRANSIT_DISTRICT', 'VIC_AGE_GROUP', 'VIC_RACE', 'VIC_SEX',
       'X_COORD_CD', 'Y_COORD_CD', 'Latitude', 'Longitude', 'Lat_Lon',
       'New Georeferenced Column'],
      dtype='object')

In [2]:
print(arrests.columns)

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [3]:
mergedData = pd.merge(arrests, crimes, on='Longitude', how='left')

In [4]:
mergedData

,ARREST_KEY,ARREST_DATE,PD_CD_x,PD_DESC_x,KY_CD_x,OFNS_DESC_x,LAW_CODE,LAW_CAT_CD_x,ARREST_BORO,ARREST_PRECINCT,...,SUSP_SEX,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD_y,Y_COORD_CD_y,Latitude_y,Lat_Lon,New Georeferenced Column_y
0,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,M,NaN,25-44,BLACK,F,1003509.0,185018.0,40.674496,"(40.6744956865259, -73.9305713255961)",POINT (-73.9305713255961 40.6744956865259)
1,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,F,NaN,65+,WHITE,F,1003509.0,185018.0,40.674496,"(40.6744956865259, -73.9305713255961)",POINT (-73.9305713255961 40.6744956865259)
2,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,U,NaN,UNKNOWN,UNKNOWN,E,1003509.0,185018.0,40.674496,"(40.6744956865259, -73.9305713255961)",POINT (-73.9305713255961 40.6744956865259)
3,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,M,NaN,<18,BLACK,F,1003509.0,185018.0,40.674496,"(40.6744956865259, -73.9305713255961)",POINT (-73.9305713255961 40.6744956865259)
4,279884335,01/03/2024,153.0,RAPE 3,104.0,RAPE,PL 1302503,F,K,77,...,M,NaN,65+,BLACK,F,1003509.0,185018.0,40.674496,"(40.6744956865259, -73.9305713255961)",POINT (-73.9305713255961 40.6744956865259)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3043559,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,M,NaN,45-64,BLACK,F,1024133.0,262519.0,40.887139,"(40.887139, -73.855758)",POINT (-73.855758 40.887139)
3043560,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,F,NaN,18-24,BLACK,F,1024152.0,250598.0,40.854421,"(40.854421, -73.855758)",POINT (-73.855758 40.854421)
3043561,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,F,NaN,45-64,WHITE HISPANIC,F,1024251.0,190646.0,40.689867,"(40.689867, -73.855758)",POINT (-73.855758 40.689867)
3043562,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,U,NaN,25-44,BLACK HISPANIC,F,1024133.0,262519.0,40.887139,"(40.887139, -73.855758)",POINT (-73.855758 40.887139)
3043563,288578223,06/15/2024,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F,B,47,...,M,NaN,25-44,WHITE HISPANIC,F,1024152.0,250598.0,40.854421,"(40.854421, -73.855758)",POINT (-73.855758 40.854421)