In [5]:
import pandas as pd

In [15]:
df=pd.read_csv(r"C:\Users\Ishaan\Documents\GitHub\UMD-INST627-Fall2024\data\crimes.csv")

In [16]:
df=df[df.OFNS_DESC == "FELONY ASSAULT"]
df

,Unnamed: 0.1,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
8,22764,111289,282572734,23,MANHATTAN,02/21/2024,12:15:00,02/21/2024,12:20:00,COMPLETED,...,NaN,<18,WHITE HISPANIC,F,1000644.0,225855.0,40.786582,-73.940798,"(40.786582, -73.940798)",POINT (-73.940798 40.786582)
13,40456,216690,280782796,47,BRONX,01/19/2024,10:00:00,NaN,(null),COMPLETED,...,NaN,45-64,BLACK,F,1026091.0,260005.0,40.880231,-73.848690,"(40.880231, -73.84869)",POINT (-73.84869 40.880231)
25,58773,183629,287906488,42,BRONX,06/03/2024,06:30:00,06/03/2024,09:07:00,COMPLETED,...,NaN,25-44,BLACK,F,1012019.0,245445.0,40.840323,-73.899640,"(40.840323, -73.89964)",POINT (-73.89964 40.840323)
73,69567,143613,286392973,44,BRONX,05/05/2024,14:54:00,05/05/2024,15:40:00,COMPLETED,...,NaN,45-64,WHITE HISPANIC,F,1005868.0,240446.0,40.826618,-73.921886,"(40.826618, -73.921886)",POINT (-73.921886 40.826618)
95,84137,174527,283362517,52,BRONX,03/07/2024,13:41:00,03/07/2024,13:54:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,F,1014313.0,254123.0,40.864132,-73.891312,"(40.86413235800173, -73.89131161712737)",POINT (-73.89131161712737 40.86413235800173)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99920,25358,41722,285668181,94,BROOKLYN,04/20/2024,23:16:00,04/20/2024,23:21:00,COMPLETED,...,NaN,18-24,UNKNOWN,L,997364.0,204182.0,40.727099,-73.952686,"(40.727099357553456, -73.95268575347822)",POINT (-73.95268575347822 40.727099357553456)
99939,13600,56615,286400637,7,MANHATTAN,05/05/2024,19:10:00,05/05/2024,19:20:00,COMPLETED,...,NaN,45-64,BLACK,M,989001.0,200722.0,40.717612,-73.982860,"(40.717612, -73.98286)",POINT (-73.98286 40.717612)
99961,2428,59203,288345879,108,QUEENS,06/11/2024,19:20:00,06/11/2024,19:25:00,COMPLETED,...,NaN,25-44,BLACK,F,1001911.0,207515.0,40.736240,-73.936270,"(40.73624, -73.93627)",POINT (-73.93627 40.73624)
99986,42083,60196,282427382,90,BROOKLYN,02/17/2024,21:00:00,02/17/2024,21:30:00,COMPLETED,...,NaN,65+,WHITE HISPANIC,M,994846.0,197384.0,40.708446,-73.961778,"(40.708446, -73.961778)",POINT (-73.961778 40.708446)
99988,38680,65623,286938881,34,MANHATTAN,05/15/2024,13:15:00,05/15/2024,13:22:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,F,1002039.0,248536.0,40.848832,-73.935700,"(40.848832, -73.9357)",POINT (-73.9357 40.848832)

In [17]:
df.sort_values(by=["CMPLNT_NUM"])

,Unnamed: 0.1,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
68150,12557,120293,279763464,114,QUEENS,12/31/2023,23:45:00,12/31/2023,23:50:00,COMPLETED,...,NaN,18-24,BLACK,M,1002279.0,222018.0,40.776047,-73.934905,"(40.776047, -73.934905)",POINT (-73.934905 40.776047)
42210,25845,1295,279763553,122,STATEN ISLAND,12/31/2023,22:00:00,12/31/2023,22:13:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,F,953460.0,144568.0,40.563429,-74.110815,"(40.563429, -74.110815)",POINT (-74.110815 40.563429)
68627,53326,93220,279764553,70,BROOKLYN,01/01/2024,00:25:00,01/01/2024,00:32:00,COMPLETED,...,NaN,45-64,WHITE HISPANIC,M,999309.0,169880.0,40.632947,-73.945743,"(40.632947, -73.945743)",POINT (-73.945743 40.632947)
66698,19172,115367,279767017,67,BROOKLYN,01/01/2024,01:30:00,01/01/2024,01:44:00,COMPLETED,...,NaN,45-64,BLACK,M,1001039.0,178073.0,40.655431,-73.939492,"(40.655431, -73.939492)",POINT (-73.939492 40.655431)
13214,28740,223372,279767353,101,QUEENS,01/01/2024,02:45:00,01/01/2024,03:00:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,M,1046241.0,157043.0,40.597507,-73.776772,"(40.597507, -73.776772)",POINT (-73.776772 40.597507)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64371,55906,164710,289349754,73,BROOKLYN,06/30/2024,01:45:00,06/30/2024,01:51:00,COMPLETED,...,NaN,25-44,BLACK,F,1011317.0,182481.0,40.667505,-73.902429,"(40.667505, -73.902429)",POINT (-73.902429 40.667505)
55726,59092,98471,289351612,67,BROOKLYN,06/30/2024,18:25:00,06/30/2024,18:32:00,COMPLETED,...,NaN,<18,BLACK,M,999390.0,172259.0,40.639476,-73.945447,"(40.639476, -73.945447)",POINT (-73.945447 40.639476)
35020,57977,205459,289356625,49,BRONX,06/30/2024,22:24:00,06/30/2024,23:20:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,M,1020097.0,254197.0,40.864316,-73.870397,"(40.864316, -73.870397)",POINT (-73.870397 40.864316)
74612,41114,219807,289374257,47,BRONX,06/28/2024,16:30:00,06/28/2024,20:41:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,F,1026486.0,262591.0,40.887325,-73.847247,"(40.887325, -73.847247)",POINT (-73.847247 40.887325)
70757,32345,92542,289395391,28,(null),06/30/2024,07:15:00,06/30/2024,07:20:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,F,999210.0,234267.0,40.809674,-73.945955,"(40.809674, -73.945955)",POINT (-73.945955 40.809674)