### Filter By Boro

In [3]:
import pandas as pd
df = pd.read_csv('data/data.csv')
df = df[df.BORO_NM=="MANHATTAN"]
df

FileNotFoundError: [Errno 2] No such file or directory: 'data/data.csv'

### Issue 1 - Interesting Crime

In [20]:
df = pd.read_csv('data/data.csv')
df = df[df.OFNS_DESC=="FORGERY"]
df.sort_values("PREM_TYP_DESC")
df

,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,HOUSING_PSA,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
43,283046394,1,MANHATTAN,01/01/2024,12:00:00,03/01/2024,14:49:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,982380.0,197844.0,40.709715,-74.006744,"(40.709715, -74.006744)",POINT (-74.006744 40.709715)
140,279794668,18,MANHATTAN,01/01/2024,22:10:00,01/01/2024,22:15:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,988669.0,216684.0,40.761423,-73.984048,"(40.7614228372042, -73.9840483917395)",POINT (-73.9840483917395 40.7614228372042)
306,283795860,79,BROOKLYN,01/01/2024,00:00:00,03/14/2024,18:30:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,998477.0,191688.0,40.692805,-73.948695,"(40.692805, -73.948695)",POINT (-73.948695 40.692805)
378,279789943,81,BROOKLYN,01/01/2024,16:47:00,01/01/2024,17:06:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1004919.0,187068.0,40.680111,-73.925480,"(40.680111039841414, -73.92548046570226)",POINT (-73.92548046570226 40.680111039841414)
564,279786364,41,BRONX,01/01/2024,16:27:00,01/01/2024,16:35:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1014249.0,238403.0,40.820986,-73.891613,"(40.82098580550746, -73.8916133211247)",POINT (-73.8916133211247 40.82098580550746)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133509,284584352,13,MANHATTAN,03/31/2024,17:43:00,03/31/2024,18:04:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,988276.0,210451.0,40.744317,-73.985470,"(40.744317, -73.98547)",POINT (-73.98547 40.744317)
133658,284588498,24,MANHATTAN,03/31/2024,21:55:00,03/31/2024,22:00:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,D,995643.0,230619.0,40.799665,-73.958848,"(40.799665, -73.958848)",POINT (-73.958848 40.799665)
133778,286387410,63,BROOKLYN,03/31/2024,12:00:00,04/04/2024,12:00:00,COMPLETED,(null),NaN,...,NaN,65+,WHITE,F,1011447.0,162943.0,40.613877,-73.902040,"(40.613877, -73.90204)",POINT (-73.90204 40.613877)
134374,284562245,103,QUEENS,03/31/2024,02:20:00,03/31/2024,02:27:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1037244.0,195024.0,40.701814,-73.808874,"(40.70181387328086, -73.80887433026759)",POINT (-73.80887433026759 40.70181387328086)
134407,284565976,103,QUEENS,03/31/2024,04:50:00,03/31/2024,05:19:00,COMPLETED,(null),NaN,...,NaN,UNKNOWN,UNKNOWN,E,1044535.0,196357.0,40.705426,-73.782567,"(40.70542596646755, -73.78256712062282)",POINT (-73.78256712062282 40.70542596646755)

<br>### Issue 2 - Join Crimes and Arrests<br>

In [2]:
import pandas as pd
df_1 = pd.read_csv('data/arrests.csv')
df_1.columns

Index(['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC',
       'LAW_CODE', 'LAW_CAT_CD', 'ARREST_BORO', 'ARREST_PRECINCT',
       'JURISDICTION_CODE', 'AGE_GROUP', 'PERP_SEX', 'PERP_RACE', 'X_COORD_CD',
       'Y_COORD_CD', 'Latitude', 'Longitude', 'New Georeferenced Column'],
      dtype='object')

In [3]:
df_2 = pd.read_csv('data/crimes.csv')
df_2.columns
df_2.head(5)

,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,HADEVELOPT,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,51870,282411683,60,BROOKLYN,02/18/2024,12:10:00,02/18/2024,12:18:00,COMPLETED,(null),...,NaN,UNKNOWN,UNKNOWN,E,990148.0,155255.0,40.592813,-73.978763,"(40.592813307614215, -73.97876328945328)",POINT (-73.97876328945328 40.592813307614215)
1,116441,279933201,18,MANHATTAN,01/04/2024,00:15:00,01/04/2024,00:25:00,COMPLETED,(null),...,NaN,25-44,WHITE,F,988757.0,216332.0,40.760457,-73.983731,"(40.76045664314996, -73.98373096728758)",POINT (-73.98373096728758 40.76045664314996)
2,23539,281846733,20,MANHATTAN,09/07/2023,23:35:00,12/01/2023,12:00:00,COMPLETED,(null),...,NaN,65+,WHITE,M,989200.0,222851.0,40.778351,-73.982126,"(40.778351, -73.982126)",POINT (-73.982126 40.778351)
3,188022,281559921,75,BROOKLYN,01/30/2024,15:50:00,01/30/2024,15:56:00,COMPLETED,(null),...,NaN,25-44,BLACK HISPANIC,M,1016845.0,182111.0,40.666469,-73.882507,"(40.666469319202875, -73.8825067547414)",POINT (-73.8825067547414 40.666469319202875)
4,193201,286123283,50,BRONX,04/29/2024,01:00:00,04/30/2024,11:15:00,COMPLETED,(null),...,NaN,25-44,WHITE HISPANIC,F,1011088.0,271303.0,40.911299,-73.902901,"(40.911299, -73.902901)",POINT (-73.902901 40.911299)

In [4]:
df_1[['PD_CD','PD_DESC', 'KY_CD', 'OFNS_DESC','LAW_CODE', 'LAW_CAT_CD']]

,PD_CD,PD_DESC,KY_CD,OFNS_DESC,LAW_CODE,LAW_CAT_CD
0,153.0,RAPE 3,104.0,RAPE,PL 1302503,F
1,105.0,STRANGULATION 1ST,106.0,FELONY ASSAULT,PL 1211200,F
2,109.0,"ASSAULT 2,1,UNCLASSIFIED",106.0,FELONY ASSAULT,PL 1201001,F
3,203.0,"TRESPASS 3, CRIMINAL",352.0,CRIMINAL TRESPASS,PL 140100A,M
4,223.0,"BURGLARY,RESIDENCE,NIGHT",107.0,BURGLARY,PL 1403002,F
...,...,...,...,...,...,...
128773,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M
128774,779.0,"PUBLIC ADMINISTRATION,UNCLASSI",126.0,MISCELLANEOUS PENAL LAW,PL 215510D,F
128775,511.0,"CONTROLLED SUBSTANCE, POSSESSI",235.0,DANGEROUS DRUGS,PL 2200300,M
128776,510.0,"CONTROLLED SUBSTANCE, INTENT T",117.0,DANGEROUS DRUGS,PL 2200601,F
128777,792.0,CRIMINAL POSSESSION WEAPON,118.0,DANGEROUS WEAPONS,PL 265031B,F

In [5]:
df_2[['KY_CD','LAW_CAT_CD','PD_DESC','OFNS_DESC']]

,KY_CD,LAW_CAT_CD,PD_DESC,OFNS_DESC
0,235,MISDEMEANOR,"CONTROLLED SUBSTANCE, POSSESSI",DANGEROUS DRUGS
1,344,MISDEMEANOR,ASSAULT 3,ASSAULT 3 & RELATED OFFENSES
2,109,FELONY,"LARCENY,GRAND FROM OPEN AREAS, UNATTENDED",GRAND LARCENY
3,348,MISDEMEANOR,LEAVING SCENE-ACCIDENT-PERSONA,VEHICLE AND TRAFFIC LAWS
4,109,FELONY,"LARCENY,GRAND OF VEHICULAR/MOTORCYCLE ACCESSORIES",GRAND LARCENY
...,...,...,...,...
124995,121,FELONY,"MISCHIEF,CRIMINAL, UNCL 2ND",CRIMINAL MISCHIEF & RELATED OF
124996,121,FELONY,"MISCHIEF, CRIMINAL 3 & 2, OF M",CRIMINAL MISCHIEF & RELATED OF
124997,359,MISDEMEANOR,"CONTEMPT,CRIMINAL",OFFENSES AGAINST PUBLIC ADMINI
124998,110,FELONY,"LARCENY,GRAND OF AUTO",GRAND LARCENY OF MOTOR VEHICLE
124999,341,MISDEMEANOR,"LARCENY,PETIT FROM STORE-SHOPL",PETIT LARCENY

In [6]:
print(df_1['KY_CD'].dtype)
print(df_2['KY_CD'].dtype)

float64
int64

In [7]:
df_2['KY_CD'] = df_2['KY_CD'].astype(float)

In [8]:
df_1_subset = df_1[['ARREST_KEY', 'ARREST_DATE', 'PD_CD', 'PD_DESC', 'KY_CD', 'OFNS_DESC','LAW_CODE', 'ARREST_BORO', 'ARREST_PRECINCT','JURISDICTION_CODE']]

In [9]:
df_2_subset = df_2[['CMPLNT_NUM', 'ADDR_PCT_CD', 'BORO_NM','JURISDICTION_CODE', 'JURIS_DESC', 'KY_CD','PD_CD', 'PD_DESC']]

In [10]:
df_subset_mg = df_1_subset.merge(df_2_subset, on=['PD_CD','KY_CD'], how='left', suffixes=('_arrest','_crime'))

In [11]:
print(df_subset_mg.head(10))

   ARREST_KEY ARREST_DATE  PD_CD PD_DESC_arrest  KY_CD OFNS_DESC    LAW_CODE  \
0   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
1   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
2   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
3   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
4   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
5   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
6   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
7   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
8   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503
9   279884335  01/03/2024  153.0         RAPE 3  104.0      RAPE  PL 1302503

  ARREST_BORO  ARREST_PRECINCT  JURISDICTION_CODE_arrest CMPLNT_NUM  \
0           K               77                         0  288577733
1           K               77                         0  288488771
2           K               77                         0  282889824
3           K               77                         0  287165947
4           K               77                         0  283974800
5           K               77                         0  286489679
6           K               77                         0  281622200
7           K               77                         0  284790209
8           K               77                         0  280471789
9           K               77                         0  285172340

   ADDR_PCT_CD    BORO_NM  JURISDICTION_CODE_crime           JURIS_DESC  \
0        115.0     QUEENS                      0.0     N.Y. POLICE DEPT
1        104.0     QUEENS                      0.0     N.Y. POLICE DEPT
2        103.0     QUEENS                      0.0     N.Y. POLICE DEPT
3         48.0      BRONX                      0.0     N.Y. POLICE DEPT
4         79.0   BROOKLYN                      2.0  N.Y. HOUSING POLICE
5        112.0     QUEENS                      0.0     N.Y. POLICE DEPT
6         61.0   BROOKLYN                      2.0  N.Y. HOUSING POLICE
7         73.0   BROOKLYN                      0.0     N.Y. POLICE DEPT
8         28.0  MANHATTAN                      0.0     N.Y. POLICE DEPT
9        104.0     QUEENS                      0.0     N.Y. POLICE DEPT

  PD_DESC_crime
0        RAPE 3
1        RAPE 3
2        RAPE 3
3        RAPE 3
4        RAPE 3
5        RAPE 3
6        RAPE 3
7        RAPE 3
8        RAPE 3
9        RAPE 3

### Issue 3 - NBA Games <br>

In [5]:
import pandas as pd
import sqlite3

con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)

active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

In [6]:
games.columns

Index(['season_id', 'team_id_home', 'team_abbreviation_home', 'team_name_home',
       'game_id', 'game_date', 'matchup_home', 'wl_home', 'min', 'fgm_home',
       'fga_home', 'fg_pct_home', 'fg3m_home', 'fg3a_home', 'fg3_pct_home',
       'ftm_home', 'fta_home', 'ft_pct_home', 'oreb_home', 'dreb_home',
       'reb_home', 'ast_home', 'stl_home', 'blk_home', 'tov_home', 'pf_home',
       'pts_home', 'plus_minus_home', 'video_available_home', 'team_id_away',
       'team_abbreviation_away', 'team_name_away', 'matchup_away', 'wl_away',
       'fgm_away', 'fga_away', 'fg_pct_away', 'fg3m_away', 'fg3a_away',
       'fg3_pct_away', 'ftm_away', 'fta_away', 'ft_pct_away', 'oreb_away',
       'dreb_away', 'reb_away', 'ast_away', 'stl_away', 'blk_away', 'tov_away',
       'pf_away', 'pts_away', 'plus_minus_away', 'video_available_away',
       'season_type'],
      dtype='object')

In [7]:
games.head(5)

,season_id,team_id_home,team_abbreviation_home,team_name_home,game_id,game_date,matchup_home,wl_home,min,fgm_home,...,reb_away,ast_away,stl_away,blk_away,tov_away,pf_away,pts_away,plus_minus_away,video_available_away,season_type
0,21946,1610610035,HUS,Toronto Huskies,0024600001,1946-11-01 00:00:00,HUS vs. NYK,L,0,25.0,...,None,None,None,None,None,NaN,68.0,2,0,Regular Season
1,21946,1610610034,BOM,St. Louis Bombers,0024600003,1946-11-02 00:00:00,BOM vs. PIT,W,0,20.0,...,None,None,None,None,None,25.0,51.0,-5,0,Regular Season
2,21946,1610610032,PRO,Providence Steamrollers,0024600002,1946-11-02 00:00:00,PRO vs. BOS,W,0,21.0,...,None,None,None,None,None,NaN,53.0,-6,0,Regular Season
3,21946,1610610025,CHS,Chicago Stags,0024600004,1946-11-02 00:00:00,CHS vs. NYK,W,0,21.0,...,None,None,None,None,None,22.0,47.0,-16,0,Regular Season
4,21946,1610610028,DEF,Detroit Falcons,0024600005,1946-11-02 00:00:00,DEF vs. WAS,L,0,10.0,...,None,None,None,None,None,NaN,50.0,17,0,Regular Season

In [8]:
active_players.head(5)

          full_name
0  Precious Achiuwa
1      Steven Adams
2       Bam Adebayo
3      Ochai Agbaji
4      Santi Aldama

In [21]:
games_recent = pd.read_sql_query("""
    SELECT season_id, season_type, team_name_home, game_Date
    FROM game
    ORDER BY season_id DESC"""
    , con)
games_recent.head(5) 

# Selected Team: Boston Celtics

  season_id season_type       team_name_home            game_date
0     42022    Playoffs     Sacramento Kings  2023-04-15 00:00:00
1     42022    Playoffs       Boston Celtics  2023-04-15 00:00:00
2     42022    Playoffs  Cleveland Cavaliers  2023-04-15 00:00:00
3     42022    Playoffs   Philadelphia 76ers  2023-04-15 00:00:00
4     42022    Playoffs      Milwaukee Bucks  2023-04-16 00:00:00

In [24]:
games_sliced = games.iloc[:,8:28]
games_sliced.head(5)

# Selected columns for calculating average score: pts_home, pts_away

,min,fgm_home,fga_home,fg_pct_home,fg3m_home,fg3a_home,fg3_pct_home,ftm_home,fta_home,ft_pct_home,oreb_home,dreb_home,reb_home,ast_home,stl_home,blk_home,tov_home,pf_home,pts_home,plus_minus_home
0,0,25.0,NaN,NaN,None,None,None,16.0,29.0,0.552,None,None,None,None,None,None,None,NaN,66.0,-2
1,0,20.0,59.0,0.339,None,None,None,16.0,NaN,NaN,None,None,None,None,None,None,None,21.0,56.0,5
2,0,21.0,NaN,NaN,None,None,None,17.0,NaN,NaN,None,None,None,None,None,None,None,NaN,59.0,6
3,0,21.0,NaN,NaN,None,None,None,21.0,NaN,NaN,None,None,None,None,None,None,None,20.0,63.0,16
4,0,10.0,NaN,NaN,None,None,None,13.0,NaN,NaN,None,None,None,None,None,None,None,NaN,33.0,-17

In [31]:
games_bc_avg = pd.read_sql_query("""
    SELECT team_name_home, avg(pts_home) AS home_avg, avg(pts_away) AS away_avg
    FROM game
    WHERE team_name_home = 'Boston Celtics'
    """, con)
print(games_bc_avg)

   team_name_home    home_avg    away_avg
0  Boston Celtics  106.278489  100.226633

### Issue 4 - Analytical Questions <br>

### Business Objective
- Q1
- q2
- q3
- q4
- q5