In [6]:
import pandas as pd
import sqlite3

#opens database connection to file. Pulls 100 games and runs the SQL query and returned as pandas dataframe.
con = sqlite3.connect("data/nba.sqlite")
games = pd.read_sql_query("SELECT * FROM game LIMIT 100", con)
active_players = pd.read_sql_query("SELECT full_name FROM player WHERE is_active=TRUE", con)

#using sql functions to get outcome instead of pandas
query1 = """
    SELECT id 
    FROM team 
    WHERE full_name='Atlanta Hawks'
    """
df = pd.read_sql_query(query1, con)
hawks_id = '1610612737' #this was returned from sql for query1 above. Will search for this later below
get_recent_season = "SELECT * FROM game ORDER BY game_date DESC" #query to sort most recent season, 2023, descending
df = pd.read_sql_query(get_recent_season, con)
df #returns df descending

most_recent_season = df.iloc[0]["season_id"] #variable - id of the most recent season. extracted both Hawks ID above, & season ID here
most_recent_season

pd.read_sql_query("SELECT * FROM game", con) #get home games from last year

#need to get all home games but just points for them
home_pts_avg_query = pd.read_sql_query("SELECT AVG(pts_home) FROM game WHERE team_id_home='1610612737' AND season_id = '42022'", con)

#now need to get all away games, just points
away_pts_avg_query = pd.read_sql_query("SELECT AVG(pts_away) FROM game WHERE team_id_away='1610612737' AND season_id = '42022'", con)

#trick for ease - make an f string to replace strings with wizards id and season id
f_home_pts_avg_query = pd.read_sql_query(f"SELECT AVG(pts_home) FROM game WHERE team_id_home='{hawks_id}' AND season_id = '{most_recent_season}'", con)
f_home_pts_avg_query

home_pts_avg_query
away_pts_avg_query

   AVG(pts_home)
0     123.666667