In [17]:
import pandas as pd
crimes = pd.read_csv('C:/Users/abina/Documents/GitHub/UMD-INST627-Fall2024/data/crimes.csv')
arrests = pd.read_csv('C:/Users/abina/Documents/GitHub/UMD-INST627-Fall2024/data/arrests.csv')
crimes_arrests = crimes.merge(arrests, on = 'New Georeferenced Column',how='left',suffixes = ('_cri','_arr'))
crimes_arrests.head()

,Unnamed: 0.1,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,...,ARREST_BORO,ARREST_PRECINCT,JURISDICTION_CODE_arr,AGE_GROUP,PERP_SEX,PERP_RACE,X_COORD_CD_arr,Y_COORD_CD_arr,Latitude_arr,Longitude_arr
0,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,Q,103.0,0.0,25-44,M,BLACK,1040022.0,195779.0,40.703871,-73.798848
1,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,Q,103.0,0.0,25-44,F,ASIAN / PACIFIC ISLANDER,1040022.0,195779.0,40.703871,-73.798848
2,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,Q,103.0,0.0,25-44,F,ASIAN / PACIFIC ISLANDER,1040022.0,195779.0,40.703871,-73.798848
3,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,Q,103.0,0.0,25-44,F,BLACK,1040022.0,195779.0,40.703871,-73.798848
4,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,Q,103.0,0.0,45-64,M,BLACK,1040022.0,195779.0,40.703871,-73.798848