In [13]:
import pandas as pd
df = pd.read_csv('C:/Users/abina/Documents/GitHub/UMD-INST627-Fall2024/data/crimes.csv')
crime = df['OFNS_DESC'] == 'SEX CRIMES'
df[crime].sort_values('CMPLNT_NUM')
df

,Unnamed: 0.1,Unnamed: 0,CMPLNT_NUM,ADDR_PCT_CD,BORO_NM,CMPLNT_FR_DT,CMPLNT_FR_TM,CMPLNT_TO_DT,CMPLNT_TO_TM,CRM_ATPT_CPTD_CD,...,TRANSIT_DISTRICT,VIC_AGE_GROUP,VIC_RACE,VIC_SEX,X_COORD_CD,Y_COORD_CD,Latitude,Longitude,Lat_Lon,New Georeferenced Column
0,67580,142769,288342702,103,QUEENS,06/11/2024,17:20:00,06/11/2024,17:25:00,COMPLETED,...,NaN,UNKNOWN,UNKNOWN,E,1040022.0,195779.0,40.703871,-73.798848,"(40.703871, -73.798848)",POINT (-73.798848 40.703871)
1,44952,151028,287377338,83,BROOKLYN,05/23/2024,19:30:00,05/23/2024,19:35:00,COMPLETED,...,NaN,UNKNOWN,ASIAN / PACIFIC ISLANDER,M,1008054.0,188856.0,40.685013,-73.914168,"(40.685013, -73.914168)",POINT (-73.914168 40.685013)
2,27423,236019,282686384,101,QUEENS,02/22/2024,09:20:00,02/22/2024,10:00:00,COMPLETED,...,NaN,25-44,WHITE HISPANIC,M,1052809.0,159159.0,40.603267,-73.753103,"(40.603267, -73.753103)",POINT (-73.753103 40.603267)
3,14763,66879,286469829,34,MANHATTAN,05/07/2024,01:42:00,05/07/2024,02:15:00,COMPLETED,...,NaN,25-44,WHITE,M,1003134.0,249255.0,40.850803,-73.931738,"(40.850803, -73.931738)",POINT (-73.931738 40.850803)
4,20443,53278,285869625,88,BROOKLYN,04/24/2024,20:50:00,04/24/2024,20:58:00,COMPLETED,...,NaN,UNKNOWN,UNKNOWN,E,989314.0,192297.0,40.694487,-73.981736,"(40.694487, -73.981736)",POINT (-73.981736 40.694487)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,43771,127286,281809257,13,MANHATTAN,02/03/2024,01:32:00,02/03/2024,01:56:00,COMPLETED,...,NaN,25-44,BLACK,M,990197.0,207745.0,40.736887,-73.978541,"(40.73688663988948, -73.97854055631754)",POINT (-73.97854055631754 40.73688663988948)
99996,90987,152695,281773749,106,QUEENS,02/05/2024,21:00:00,02/06/2024,07:30:00,COMPLETED,...,NaN,65+,ASIAN / PACIFIC ISLANDER,M,1036642.0,184867.0,40.673941,-73.811121,"(40.673941, -73.811121)",POINT (-73.811121 40.673941)
99997,80228,200941,285883295,32,MANHATTAN,04/24/2024,23:25:00,04/24/2024,23:55:00,COMPLETED,...,3.0,<18,ASIAN / PACIFIC ISLANDER,M,1001500.0,239331.0,40.823567,-73.937673,"(40.82356699918536, -73.93767317525372)",POINT (-73.93767317525372 40.82356699918536)
99998,54038,100902,289131352,13,MANHATTAN,06/24/2024,13:40:00,06/24/2024,17:28:00,COMPLETED,...,NaN,45-64,BLACK,F,986608.0,211522.0,40.747257,-73.991488,"(40.747257, -73.991488)",POINT (-73.991488 40.747257)
99999,87572,58928,283309498,33,MANHATTAN,01/15/2024,12:00:00,NaN,03:04:00,COMPLETED,...,NaN,25-44,ASIAN / PACIFIC ISLANDER,M,1001891.0,245600.0,40.840781,-73.936245,"(40.8407811088581, -73.9362453818218)",POINT (-73.9362453818218 40.8407811088581)